# Capstone 2 Preprocessing and Training Data Development

In [292]:
import pandas as pd

In [293]:
listings_orig = pd.read_csv(r'C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstones/Capstonetwo/Untitled Folder/posteda.csv',index_col=False)

In [294]:
listings_orig.head()

,Unnamed: 0,MLS#,Status Change Timestamp,Address,City,Acres,Sq Ft Total,Sq Ft Est Heated Above Grade,Style,Rooms Total,...,Year Built,DOM,list_price,close_price,Full Bath,Half Bath,Garage,Parking,Age,County
0,0,170378716,2021-05-14,64 Long Hill Rd,Andover,0.92,1800,1800.0,Colonial,7,...,1935.0,8.0,150000,97500,1,0,0,Off Street Parking,86.0,Tolland
1,2,170365013,2021-04-22,7 Bailey Rd,Andover,1.49,1138,1138.0,Bungalow,6,...,1923.0,69.0,170000,150000,1,0,2,Detached Garage,98.0,Tolland
2,3,170316531,2020-09-02,56 Pine Ridge Dr,Andover,0.85,1476,864.0,Ranch,4,...,1957.0,2.0,169000,180000,1,0,2,Attached Garage,64.0,Tolland
3,4,170359991,2021-03-12,213 Route 6,Andover,0.62,1074,1074.0,Cape Cod,6,...,1939.0,41.0,174900,182000,2,0,2,Detached Garage,82.0,Tolland
4,5,170299040,2020-08-31,38 Bausola Rd,Andover,0.56,1456,1008.0,Ranch,6,...,1974.0,77.0,179000,185000,1,0,1,Under House Garage,47.0,Tolland

In [295]:
listings_orig.drop(['Unnamed: 0','Address','MLS#','Status Change Timestamp','Parking','Year Built','Style','list_price'],axis =1,inplace = True)

In [296]:
listings_orig.head()

,City,Acres,Sq Ft Total,Sq Ft Est Heated Above Grade,Rooms Total,Beds Total,DOM,close_price,Full Bath,Half Bath,Garage,Age,County
0,Andover,0.92,1800,1800.0,7,3,8.0,97500,1,0,0,86.0,Tolland
1,Andover,1.49,1138,1138.0,6,3,69.0,150000,1,0,2,98.0,Tolland
2,Andover,0.85,1476,864.0,4,2,2.0,180000,1,0,2,64.0,Tolland
3,Andover,0.62,1074,1074.0,6,3,41.0,182000,2,0,2,82.0,Tolland
4,Andover,0.56,1456,1008.0,6,3,77.0,185000,1,0,1,47.0,Tolland

In [297]:
listings = listings_orig

In [298]:
listings.columns

Index(['City', 'Acres', 'Sq Ft Total', 'Sq Ft Est Heated Above Grade',
       'Rooms Total', 'Beds Total', 'DOM', 'close_price', 'Full Bath',
       'Half Bath', 'Garage', 'Age', 'County'],
      dtype='object')

In [299]:
listings.shape

(36519, 13)

In [300]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36519 entries, 0 to 36518
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   City                          36519 non-null  object
 1   Acres                         36519 non-null  float64
 2   Sq Ft Total                   36519 non-null  int64
 3   Sq Ft Est Heated Above Grade  36519 non-null  float64
 4   Rooms Total                   36519 non-null  int64
 5   Beds Total                    36519 non-null  int64
 6   DOM                           36519 non-null  float64
 7   close_price                   36519 non-null  int64
 8   Full Bath                     36519 non-null  int64
 9   Half Bath                     36519 non-null  int64
 10  Garage                        36519 non-null  int64
 11  Age                           36519 non-null  float64
 12  County                        36519 non-null  object
dtypes: float64(4), int64(7), object(2)
memory usage: 3.6+ MB

## Dummy Variables for Categorical Variables

### City and County

One hot encoding City and County Variables.

In [301]:
listings = pd.get_dummies(listings, prefix = ["City_","County_"], columns = ['City','County'])

In [302]:
listings.shape

(36519, 188)

## Standard Scalers

Applying Standard Scalers to continous variables.  Acres, Square Footage, Days on Market, Closing Price and Age

I am assuming that Rooms, Bedrooms, Full baths, half baths, and garages are ordinal and do not need to be recoded

In [303]:
from sklearn.preprocessing import StandardScaler
from sklearn.compose import make_column_transformer

In [304]:
stanscaler = StandardScaler()

In [305]:
col_trans = make_column_transformer((stanscaler,['Acres','Sq Ft Total','Sq Ft Est Heated Above Grade','DOM','close_price','Age']),
                                                 remainder = 'drop')
columns = ['Acres','Sq Ft Total','Sq Ft Est Heated Above Grade','DOM','close_price','Age']

In [306]:
scaled = col_trans.fit_transform(listings)
scaled = pd.DataFrame(scaled,columns =columns)
scaled = scaled.add_prefix('standardized_')

listings.drop(columns,axis =1, inplace =True)

In [307]:
scaled.head()

,standardized_Acres,standardized_Sq Ft Total,standardized_Sq Ft Est Heated Above Grade,standardized_DOM,standardized_close_price,standardized_Age
0,0.577642,-0.165411,0.108644,-0.549930,-1.102424,0.622763
1,1.633161,-1.083437,-0.936020,0.384864,-0.886789,0.956183
2,0.448017,-0.614717,-1.368403,-0.641877,-0.763569,0.011492
3,0.022106,-1.172189,-1.037015,-0.044222,-0.755354,0.511623
4,-0.089001,-0.642452,-1.141165,0.507460,-0.743032,-0.460853

In [308]:
listings = pd.concat([scaled,listings],axis=1)

In [309]:
listings.head()

,standardized_Acres,standardized_Sq Ft Total,standardized_Sq Ft Est Heated Above Grade,standardized_DOM,standardized_close_price,standardized_Age,Rooms Total,Beds Total,Full Bath,Half Bath,...,City__Woodbury,City__Woodstock,County__Fairfield,County__Hartford,County__Litchfield,County__Middlesex,County__New Haven,County__New London,County__Tolland,County__Windham
0,0.577642,-0.165411,0.108644,-0.549930,-1.102424,0.622763,7,3,1,0,...,0,0,0,0,0,0,0,0,1,0
1,1.633161,-1.083437,-0.936020,0.384864,-0.886789,0.956183,6,3,1,0,...,0,0,0,0,0,0,0,0,1,0
2,0.448017,-0.614717,-1.368403,-0.641877,-0.763569,0.011492,4,2,1,0,...,0,0,0,0,0,0,0,0,1,0
3,0.022106,-1.172189,-1.037015,-0.044222,-0.755354,0.511623,6,3,2,0,...,0,0,0,0,0,0,0,0,1,0
4,-0.089001,-0.642452,-1.141165,0.507460,-0.743032,-0.460853,6,3,1,0,...,0,0,0,0,0,0,0,0,1,0

Probably shouldn't be standardizing closing price ( y )?

## Test Train Split

In [310]:
from sklearn.model_selection import train_test_split

In [311]:
y = listings['standardized_close_price']
X = listings.drop('standardized_close_price', axis = 1)

In [312]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=343)

In [313]:
X_train.shape

(27389, 187)

In [314]:
y_train.shape

(27389,)