In [191]:
import pandas as pd
import numpy as np

In [192]:
pwd

'C:\\Users\\kyu_k\\OneDrive\\Desktop\\ds\\Spring board DS Career track\\Capstonetwo\\Untitled Folder'

In [196]:
data_merged = pd.DataFrame()

In [197]:
#C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstone 2

In [198]:
for i in range(1,69):
    
    filename = 'C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (' + str(i) + ').csv'
    dataframe = pd.read_csv(filename)
    print(filename)
    
    if i == 1:
        data_merged = dataframe
        
        
    else:
        data_merged = data_merged.append(dataframe)

C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (1).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (2).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (3).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (4).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (5).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (6).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (7).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (8).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (9).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (10).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (11).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (12).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (13).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (14).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (15).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (16).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (17).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (18).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (19).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (20).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (21).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (22).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (23).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (24).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (25).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (26).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (27).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (28).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (29).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (30).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (31).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (32).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (33).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (34).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (35).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (36).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (37).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (38).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (39).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (40).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (41).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (42).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (43).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (44).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (45).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (46).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (47).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (48).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (49).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (50).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (51).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (52).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (53).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (54).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (55).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (56).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (57).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (58).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (59).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (60).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (61).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (62).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (63).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (64).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (65).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (66).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (67).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (68).csv

In [199]:
data_merged.reset_index(inplace=True,drop = True)

In [200]:
print(data_merged.shape)

(58107, 21)

In [201]:
print(data_merged.head())

   #       MLS# Status Status Change Timestamp Prop Type  \
0  1  170323774   CLSD                09/13/20        SF
1  1  170366202   CLSD                03/18/21        SF
2  1  170378716   CLSD                05/14/21        SF
3  1  170305413   CLSD                03/10/21        SF
4  1  170365013   CLSD                04/22/21        SF

               List/Closed Price           Address Unnamed: 7     City  Acres  \
0  LP: $3,750,000 CP: $3,750,000      213 Separate              Amenia  21.42
1  LP: $7,950,000 CP: $6,800,000  292 Wood Duck Rd              Amenia   0.32
2       LP: $150,000 CP: $97,500   64 Long Hill Rd             Andover   0.92
3      LP: $119,900 CP: $100,000       560 Route 6             Andover   4.63
4      LP: $170,000 CP: $150,000       7 Bailey Rd             Andover   1.49

   ... Sq Ft Est Heated Above Grade Style or Rent Type Rooms Total  \
0  ...                        4,392           Colonial          11
1  ...                        5,169       Contemporary           7
2  ...                        1,800           Colonial           7
3  ...                        1,724              Ranch           6
4  ...                        1,138           Bungalow           6

   Beds Total        Bathrooms               Garage/Park Year Built  DOM  \
0           4  3 Full & 1 Half     2 Car/Attached Garage     2007.0   22
1           5  5 Full & 1 Half     2 Car/Attached Garage     2018.0   56
2           3           1 Full  2 Car/Off Street Parking     1935.0    8
3           3           1 Full    Car/Off Street Parking     1948.0  231
4           3           1 Full     2 Car/Detached Garage     1923.0   69

         Listing Agent List Office
0         Graham Klemm      KLEM40
1  Elyse Harney Morris      HARN42
2        Mike Defosses      EXRE01
3             Team Rio      EXRE01
4   Erica L Molochnick      REDB01

[5 rows x 21 columns]

In [202]:
print(data_merged.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58107 entries, 0 to 58106
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   #                             58107 non-null  int64
 1   MLS#                          58107 non-null  object
 2   Status                        58107 non-null  object
 3   Status Change Timestamp       58107 non-null  object
 4   Prop Type                     58107 non-null  object
 5   List/Closed Price             58107 non-null  object
 6   Address                       58107 non-null  object
 7   Unnamed: 7                    58107 non-null  object
 8   City                          58107 non-null  object
 9   Acres                         46390 non-null  object
 10  Sq Ft Total                   58107 non-null  object
 11  Sq Ft Est Heated Above Grade  58090 non-null  object
 12  Style or Rent Type            58106 non-null  object
 13  Rooms Total                   58107 non-null  int64
 14  Beds Total                    58107 non-null  int64
 15  Bathrooms                     58088 non-null  object
 16  Garage/Park                   58107 non-null  object
 17  Year Built                    58103 non-null  float64
 18  DOM                           58107 non-null  object
 19  Listing Agent                 58107 non-null  object
 20  List Office                   58107 non-null  object
dtypes: float64(1), int64(3), object(17)
memory usage: 9.3+ MB
None

In [203]:
data_merged.describe()

                  #   Rooms Total    Beds Total    Year Built
count  58107.000000  58107.000000  58107.000000  58103.000000
mean    1692.818542      6.868381      3.149053   1964.649244
std     1466.930825      2.385229      1.023004     39.048374
min        1.000000      0.000000      0.000000      0.000000
25%        1.000000      5.000000      3.000000   1951.000000
50%     1501.000000      7.000000      3.000000   1969.000000
75%     3001.000000      8.000000      4.000000   1988.000000
max     4501.000000     99.000000     15.000000   2021.000000

In [204]:
#### UNNAMED 7 #################################################

print(data_merged['Unnamed: 7'])

0
1
2
3
4
        ..
58102
58103
58104
58105
58106
Name: Unnamed: 7, Length: 58107, dtype: object

In [205]:
spaces=0
nulls=0
for i in data_merged['Unnamed: 7']:
    if i == ' ':
        spaces+=1
    elif i is None:
        nulls+=1

In [206]:
print(spaces,nulls)

58107 0

In [207]:
data_merged = data_merged.drop('Unnamed: 7',axis=1)

In [208]:
print(data_merged.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58107 entries, 0 to 58106
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   #                             58107 non-null  int64
 1   MLS#                          58107 non-null  object
 2   Status                        58107 non-null  object
 3   Status Change Timestamp       58107 non-null  object
 4   Prop Type                     58107 non-null  object
 5   List/Closed Price             58107 non-null  object
 6   Address                       58107 non-null  object
 7   City                          58107 non-null  object
 8   Acres                         46390 non-null  object
 9   Sq Ft Total                   58107 non-null  object
 10  Sq Ft Est Heated Above Grade  58090 non-null  object
 11  Style or Rent Type            58106 non-null  object
 12  Rooms Total                   58107 non-null  int64
 13  Beds Total                    58107 non-null  int64
 14  Bathrooms                     58088 non-null  object
 15  Garage/Park                   58107 non-null  object
 16  Year Built                    58103 non-null  float64
 17  DOM                           58107 non-null  object
 18  Listing Agent                 58107 non-null  object
 19  List Office                   58107 non-null  object
dtypes: float64(1), int64(3), object(16)
memory usage: 8.9+ MB
None

In [209]:
####### MLS #   #################################################
"""Checks for duplicate MLS IDs in Dataset
"""

'Checks for duplicate MLS IDs in Dataset\n'

In [210]:
data_merged['MLS#'].duplicated().describe()

count     58107
unique        1
top       False
freq      58107
Name: MLS#, dtype: object

In [211]:
'''1 Value False = no duplicates'''

'1 Value False = no duplicates'

In [212]:
########## Status ################################################

In [213]:
print(data_merged['Status'].unique())

['CLSD']

In [214]:
'''All records have closed status'''

'All records have closed status'

In [215]:
########## Status Date Change  ############################

In [216]:
#############  Prop type #######################

In [217]:
print(data_merged['Prop Type'].describe())

count     58107
unique        3
top          SF
freq      46390
Name: Prop Type, dtype: object

In [218]:
prop_types = (data_merged['Prop Type'].unique())
type_counts = []
for i in prop_types:
    count = [i,len(data_merged[data_merged['Prop Type']==i])]
    type_counts.append(count)
print(type_counts)

[['SF', 46390], ['CO', 11468], ['CP', 249]]

In [219]:
###double check totals match

sum = 0
for i in type_counts:
    sum+= i[1]
print(sum)

58107

In [220]:
'''All of the records are either Single Family, Condo, or Cooperative'''

'All of the records are either Single Family, Condo, or Cooperative'

In [221]:
##### List/Closed Price  ########################

In [222]:
print(data_merged['List/Closed Price'])

0        LP: $3,750,000 CP: $3,750,000
1        LP: $7,950,000 CP: $6,800,000
2             LP: $150,000 CP: $97,500
3            LP: $119,900 CP: $100,000
4            LP: $170,000 CP: $150,000
                     ...
58102        LP: $675,000 CP: $705,000
58103    LP: $2,100,000 CP: $2,000,000
58104        LP: $889,900 CP: $930,000
58105    LP: $1,249,000 CP: $1,210,000
58106    LP: $2,300,000 CP: $2,500,000
Name: List/Closed Price, Length: 58107, dtype: object

In [223]:
print (data_merged.loc[0,'List/Closed Price'])

LP: $3,750,000 CP: $3,750,000

In [231]:
data_merged['list_price'] = 0 
data_merged['close_price'] = 0
  

for i in range(0,len(data_merged['List/Closed Price'])):
       
 
    listLPCP = data_merged['List/Closed Price'][i].split(' ')
    data_merged.loc[i,'close_price'] = listLPCP[3]
    data_merged.loc[i,'list_price'] = listLPCP[1]

In [232]:
print(data_merged.head())

   #       MLS# Status Status Change Timestamp Prop Type  \
0  1  170323774   CLSD                09/13/20        SF
1  1  170366202   CLSD                03/18/21        SF
2  1  170378716   CLSD                05/14/21        SF
3  1  170305413   CLSD                03/10/21        SF
4  1  170365013   CLSD                04/22/21        SF

               List/Closed Price           Address     City  Acres  \
0  LP: $3,750,000 CP: $3,750,000      213 Separate   Amenia  21.42
1  LP: $7,950,000 CP: $6,800,000  292 Wood Duck Rd   Amenia   0.32
2       LP: $150,000 CP: $97,500   64 Long Hill Rd  Andover   0.92
3      LP: $119,900 CP: $100,000       560 Route 6  Andover   4.63
4      LP: $170,000 CP: $150,000       7 Bailey Rd  Andover   1.49

  Sq Ft Total  ... Rooms Total Beds Total        Bathrooms  \
0       4,392  ...          11          4  3 Full & 1 Half
1       5,169  ...           7          5  5 Full & 1 Half
2       1,800  ...           7          3           1 Full
3       1,724  ...           6          3           1 Full
4       1,138  ...           6          3           1 Full

                Garage/Park Year Built  DOM        Listing Agent List Office  \
0     2 Car/Attached Garage     2007.0   22         Graham Klemm      KLEM40
1     2 Car/Attached Garage     2018.0   56  Elyse Harney Morris      HARN42
2  2 Car/Off Street Parking     1935.0    8        Mike Defosses      EXRE01
3    Car/Off Street Parking     1948.0  231             Team Rio      EXRE01
4     2 Car/Detached Garage     1923.0   69   Erica L Molochnick      REDB01

   list_price close_price
0  $3,750,000  $3,750,000
1  $7,950,000  $6,800,000
2    $150,000     $97,500
3    $119,900    $100,000
4    $170,000    $150,000

[5 rows x 22 columns]

In [243]:
data_merged['close_price'] = data_merged['close_price'].str.replace('$','')
data_merged['close_price'] = data_merged['close_price'].str.replace(',','')
data_merged['close_price'] = data_merged['close_price'].str.replace(' ','')
data_merged['close_price'] = pd.to_numeric(data_merged['close_price']) #### remove special characters, converts to numeric

AttributeError: Can only use .str accessor with string values!

In [244]:
data_merged['list_price'] = data_merged['list_price'].str.replace('$','')
data_merged['list_price'] = data_merged['list_price'].str.replace(',','')
data_merged['list_price'] = data_merged['list_price'].str.replace(' ','')
data_merged['list_price'] = pd.to_numeric(data_merged['list_price'])       #### remove special characters,  converts to numeric

ValueError: Unable to parse string "245000 " at position 2525

In [245]:
data_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58107 entries, 0 to 58106
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   #                             58107 non-null  int64
 1   MLS#                          58107 non-null  object
 2   Status                        58107 non-null  object
 3   Status Change Timestamp       58107 non-null  object
 4   Prop Type                     58107 non-null  object
 5   List/Closed Price             58107 non-null  object
 6   Address                       58107 non-null  object
 7   City                          58107 non-null  object
 8   Acres                         46390 non-null  object
 9   Sq Ft Total                   58107 non-null  object
 10  Sq Ft Est Heated Above Grade  58090 non-null  object
 11  Style or Rent Type            58106 non-null  object
 12  Rooms Total                   58107 non-null  int64
 13  Beds Total                    58107 non-null  int64
 14  Bathrooms                     58088 non-null  object
 15  Garage/Park                   58107 non-null  object
 16  Year Built                    58103 non-null  float64
 17  DOM                           58107 non-null  object
 18  Listing Agent                 58107 non-null  object
 19  List Office                   58107 non-null  object
 20  list_price                    58107 non-null  object
 21  close_price                   58107 non-null  int64
dtypes: float64(1), int64(4), object(17)
memory usage: 9.8+ MB

In [246]:
data_merged.head()

,#,MLS#,Status,Status Change Timestamp,Prop Type,List/Closed Price,Address,City,Acres,Sq Ft Total,...,Rooms Total,Beds Total,Bathrooms,Garage/Park,Year Built,DOM,Listing Agent,List Office,list_price,close_price
0,1,170323774,CLSD,09/13/20,SF,"LP: $3,750,000 CP: $3,750,000",213 Separate,Amenia,21.42,"4,392",...,11,4,3 Full & 1 Half,2 Car/Attached Garage,2007.0,22,Graham Klemm,KLEM40,3750000,3750000
1,1,170366202,CLSD,03/18/21,SF,"LP: $7,950,000 CP: $6,800,000",292 Wood Duck Rd,Amenia,0.32,"5,169",...,7,5,5 Full & 1 Half,2 Car/Attached Garage,2018.0,56,Elyse Harney Morris,HARN42,7950000,6800000
2,1,170378716,CLSD,05/14/21,SF,"LP: $150,000 CP: $97,500",64 Long Hill Rd,Andover,0.92,"1,800",...,7,3,1 Full,2 Car/Off Street Parking,1935.0,8,Mike Defosses,EXRE01,150000,97500
3,1,170305413,CLSD,03/10/21,SF,"LP: $119,900 CP: $100,000",560 Route 6,Andover,4.63,"1,724",...,6,3,1 Full,Car/Off Street Parking,1948.0,231,Team Rio,EXRE01,119900,100000
4,1,170365013,CLSD,04/22/21,SF,"LP: $170,000 CP: $150,000",7 Bailey Rd,Andover,1.49,"1,138",...,6,3,1 Full,2 Car/Detached Garage,1923.0,69,Erica L Molochnick,REDB01,170000,150000