This data is pulled from the CT MLS system from 7/28 - 7/29/21.  The listings are those which closed within the range of 0-365 days from the previous dates listed.  All citys available were pulled from CT.  Listings are limited to single family homes, condos, co-op.

In [136]:
import pandas as pd
import numpy as np

In [137]:
pwd

'C:\\Users\\kyu_k\\OneDrive\\Desktop\\ds\\Spring board DS Career track\\Capstonetwo\\Untitled Folder'

In [138]:
data_merged = pd.DataFrame()

In [139]:
#C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstone 2

In [140]:
for i in range(1,69):
    
    filename = 'C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (' + str(i) + ').csv'
    dataframe = pd.read_csv(filename)
    print(filename)
    
    if i == 1:
        data_merged = dataframe
        
        
    else:
        data_merged = data_merged.append(dataframe)

C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (1).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (2).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (3).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (4).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (5).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (6).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (7).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (8).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (9).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (10).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (11).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (12).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (13).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (14).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (15).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (16).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (17).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (18).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (19).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (20).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (21).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (22).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (23).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (24).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (25).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (26).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (27).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (28).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (29).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (30).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (31).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (32).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (33).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (34).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (35).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (36).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (37).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (38).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (39).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (40).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (41).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (42).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (43).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (44).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (45).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (46).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (47).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (48).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (49).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (50).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (51).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (52).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (53).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (54).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (55).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (56).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (57).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (58).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (59).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (60).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (61).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (62).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (63).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (64).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (65).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (66).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (67).csv
C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstonetwo/data/Agent Single Line (68).csv

In [141]:
data_merged.reset_index(inplace=True,drop = True)

In [142]:
print(data_merged.shape)

(58107, 21)

In [143]:
print(data_merged.head())

   #       MLS# Status Status Change Timestamp Prop Type  \
0  1  170323774   CLSD                09/13/20        SF
1  1  170366202   CLSD                03/18/21        SF
2  1  170378716   CLSD                05/14/21        SF
3  1  170305413   CLSD                03/10/21        SF
4  1  170365013   CLSD                04/22/21        SF

               List/Closed Price           Address Unnamed: 7     City  Acres  \
0  LP: $3,750,000 CP: $3,750,000      213 Separate              Amenia  21.42
1  LP: $7,950,000 CP: $6,800,000  292 Wood Duck Rd              Amenia   0.32
2       LP: $150,000 CP: $97,500   64 Long Hill Rd             Andover   0.92
3      LP: $119,900 CP: $100,000       560 Route 6             Andover   4.63
4      LP: $170,000 CP: $150,000       7 Bailey Rd             Andover   1.49

   ... Sq Ft Est Heated Above Grade Style or Rent Type Rooms Total  \
0  ...                        4,392           Colonial          11
1  ...                        5,169       Contemporary           7
2  ...                        1,800           Colonial           7
3  ...                        1,724              Ranch           6
4  ...                        1,138           Bungalow           6

   Beds Total        Bathrooms               Garage/Park Year Built  DOM  \
0           4  3 Full & 1 Half     2 Car/Attached Garage     2007.0   22
1           5  5 Full & 1 Half     2 Car/Attached Garage     2018.0   56
2           3           1 Full  2 Car/Off Street Parking     1935.0    8
3           3           1 Full    Car/Off Street Parking     1948.0  231
4           3           1 Full     2 Car/Detached Garage     1923.0   69

         Listing Agent List Office
0         Graham Klemm      KLEM40
1  Elyse Harney Morris      HARN42
2        Mike Defosses      EXRE01
3             Team Rio      EXRE01
4   Erica L Molochnick      REDB01

[5 rows x 21 columns]

In [144]:
print(data_merged.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58107 entries, 0 to 58106
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   #                             58107 non-null  int64
 1   MLS#                          58107 non-null  object
 2   Status                        58107 non-null  object
 3   Status Change Timestamp       58107 non-null  object
 4   Prop Type                     58107 non-null  object
 5   List/Closed Price             58107 non-null  object
 6   Address                       58107 non-null  object
 7   Unnamed: 7                    58107 non-null  object
 8   City                          58107 non-null  object
 9   Acres                         46390 non-null  object
 10  Sq Ft Total                   58107 non-null  object
 11  Sq Ft Est Heated Above Grade  58090 non-null  object
 12  Style or Rent Type            58106 non-null  object
 13  Rooms Total                   58107 non-null  int64
 14  Beds Total                    58107 non-null  int64
 15  Bathrooms                     58088 non-null  object
 16  Garage/Park                   58107 non-null  object
 17  Year Built                    58103 non-null  float64
 18  DOM                           58107 non-null  object
 19  Listing Agent                 58107 non-null  object
 20  List Office                   58107 non-null  object
dtypes: float64(1), int64(3), object(17)
memory usage: 9.3+ MB
None

In [145]:
data_merged.describe()

                  #   Rooms Total    Beds Total    Year Built
count  58107.000000  58107.000000  58107.000000  58103.000000
mean    1692.818542      6.868381      3.149053   1964.649244
std     1466.930825      2.385229      1.023004     39.048374
min        1.000000      0.000000      0.000000      0.000000
25%        1.000000      5.000000      3.000000   1951.000000
50%     1501.000000      7.000000      3.000000   1969.000000
75%     3001.000000      8.000000      4.000000   1988.000000
max     4501.000000     99.000000     15.000000   2021.000000

------------------------------------------------------------------------------------------

In [146]:
#### UNNAMED 7 #################################################

print(data_merged['Unnamed: 7'])

0
1
2
3
4
        ..
58102
58103
58104
58105
58106
Name: Unnamed: 7, Length: 58107, dtype: object

In [147]:
spaces=0
nulls=0
for i in data_merged['Unnamed: 7']:
    if i == ' ':
        spaces+=1
    elif i is None:
        nulls+=1

In [148]:
print(spaces,nulls)

58107 0

In [149]:
data_merged = data_merged.drop('Unnamed: 7',axis=1)  #### dropp column

----------------------------------------------------------------------------------

In [150]:
####### MLS #   #################################################
"""Checks for duplicate MLS IDs in Dataset
"""

'Checks for duplicate MLS IDs in Dataset\n'

In [151]:
data_merged['MLS#'].duplicated().describe()

count     58107
unique        1
top       False
freq      58107
Name: MLS#, dtype: object

In [152]:
'''1 Value False = no duplicates'''

'1 Value False = no duplicates'

-----------------------------------------------------------------------

In [153]:
########## Status ################################################

In [154]:
print(data_merged['Status'].unique())

['CLSD']

In [155]:
'''All records have closed status'''

'All records have closed status'

In [156]:
########## Status Date Change  ############################

In [157]:
#############  Prop type #######################

In [158]:
print(data_merged['Prop Type'].describe())

count     58107
unique        3
top          SF
freq      46390
Name: Prop Type, dtype: object

In [159]:
prop_types = (data_merged['Prop Type'].unique())
type_counts = []
for i in prop_types:
    count = [i,len(data_merged[data_merged['Prop Type']==i])]
    type_counts.append(count)
print(type_counts)

[['SF', 46390], ['CO', 11468], ['CP', 249]]

In [160]:
###double check totals match

sum = 0
for i in type_counts:
    sum+= i[1]
print(sum)

58107

In [161]:
'''All of the records are either Single Family, Condo, or Cooperative'''

'All of the records are either Single Family, Condo, or Cooperative'

_________________________________________________________________________________________

In [162]:
##### List/Closed Price  ########################

In [163]:
print(data_merged['List/Closed Price'])

0        LP: $3,750,000 CP: $3,750,000
1        LP: $7,950,000 CP: $6,800,000
2             LP: $150,000 CP: $97,500
3            LP: $119,900 CP: $100,000
4            LP: $170,000 CP: $150,000
                     ...
58102        LP: $675,000 CP: $705,000
58103    LP: $2,100,000 CP: $2,000,000
58104        LP: $889,900 CP: $930,000
58105    LP: $1,249,000 CP: $1,210,000
58106    LP: $2,300,000 CP: $2,500,000
Name: List/Closed Price, Length: 58107, dtype: object

In [164]:
print (data_merged.loc[0,'List/Closed Price'])

LP: $3,750,000 CP: $3,750,000

In [165]:
'''

data_merged['list_price'] = 0 
data_merged['close_price'] = 0
  

for i in range(0,len(data_merged['List/Closed Price'])):
       
 
    listLPCP = data_merged['List/Closed Price'][i].split(' ')
    data_merged.loc[i,'close_price'] = listLPCP[3]
    data_merged.loc[i,'list_price'] = listLPCP[1]
'''

"\n\ndata_merged['list_price'] = 0 \ndata_merged['close_price'] = 0\n  \n\nfor i in range(0,len(data_merged['List/Closed Price'])):\n       \n \n    listLPCP = data_merged['List/Closed Price'][i].split(' ')\n    data_merged.loc[i,'close_price'] = listLPCP[3]\n    data_merged.loc[i,'list_price'] = listLPCP[1]\n"

In [166]:
data_merged['List/Closed Price']=  data_merged['List/Closed Price'].apply(lambda x: x.split(' ') )

In [167]:
print(data_merged['List/Closed Price'].head())

0    [LP:, $3,750,000, CP:, $3,750,000]
1    [LP:, $7,950,000, CP:, $6,800,000]
2         [LP:, $150,000, CP:, $97,500]
3        [LP:, $119,900, CP:, $100,000]
4        [LP:, $170,000, CP:, $150,000]
Name: List/Closed Price, dtype: object

In [168]:
for i in data_merged['List/Closed Price']:                           ####checking position of items
    if "L" not in i[0]:
        print('Check')
    elif "C" not in i[2]: 
         print('Check')

In [169]:
data_merged['list_price']=  data_merged['List/Closed Price'].apply(lambda x: x[1])    #####creates new columns

In [170]:
data_merged['close_price']=  data_merged['List/Closed Price'].apply(lambda x: x[3] )

In [171]:
data_merged['list_price'].apply(lambda x: x.isnumeric()).value_counts() ##### order was different with remove commas first

False    58107
Name: list_price, dtype: int64

4 observations contain non numeric characters

In [172]:
issues = data_merged['list_price'].str.isnumeric()   #### filter for issues

In [173]:
data_merged[issues].head()

Empty DataFrame
Columns: [#, MLS#, Status, Status Change Timestamp, Prop Type, List/Closed Price, Address, City, Acres, Sq Ft Total, Sq Ft Est Heated Above Grade, Style or Rent Type, Rooms Total, Beds Total, Bathrooms, Garage/Park, Year Built, DOM, Listing Agent, List Office, list_price, close_price]
Index: []

[0 rows x 22 columns]

In [174]:
data_merged.iloc[11542]['list_price']

'$210,000\xa0'

Character \xa0 was the issue

In [175]:
 #### remove special characters, converts to numeric

data_merged['list_price'] = data_merged['list_price'].str.replace('$','')
data_merged['list_price'] = data_merged['list_price'].str.replace(',','')
####data_merged['list_price'] = data_merged['list_price'].str.replace(' ','')
####data_merged['list_price'] = data_merged['list_price'].str.replace('\t','')  
####data_merged['list_price'] = data_merged['list_price'].str.replace('\r','') 
data_merged['list_price'] = data_merged['list_price'].str.replace('\xa0','')
data_merged['list_price'] = pd.to_numeric(data_merged['list_price'])

In [176]:
data_merged['close_price'] = data_merged['close_price'].str.replace('$','')
data_merged['close_price'] = data_merged['close_price'].str.replace(',','')
data_merged['close_price'] = data_merged['close_price'].str.replace('\xa0','')
data_merged['close_price'] = pd.to_numeric(data_merged['close_price'])

In [177]:
data_merged.describe()

,#,Rooms Total,Beds Total,Year Built,list_price,close_price
count,58107.000000,58107.000000,58107.000000,58103.000000,5.810700e+04,5.810700e+04
mean,1692.818542,6.868381,3.149053,1964.649244,4.500507e+05,4.476407e+05
std,1466.930825,2.385229,1.023004,39.048374,5.582955e+05,5.388198e+05
min,1.000000,0.000000,0.000000,0.000000,4.900000e+03,7.500000e+03
25%,1.000000,5.000000,3.000000,1951.000000,2.100000e+05,2.150000e+05
50%,1501.000000,7.000000,3.000000,1969.000000,2.999000e+05,3.060000e+05
75%,3001.000000,8.000000,4.000000,1988.000000,4.699000e+05,4.750000e+05
max,4501.000000,99.000000,15.000000,2021.000000,1.675000e+07,1.650000e+07

____________________________________________________________________________________________________

In [178]:
######## Address ####################

In [179]:
data_merged['Address'].head()

0        213 Separate
1    292 Wood Duck Rd
2     64 Long Hill Rd
3         560 Route 6
4         7 Bailey Rd
Name: Address, dtype: object

In [180]:
#df.apply(lambda x: func(x['col1'],x['col2']),axis=1)

In [181]:
data_merged['Address']=  data_merged['Address'].apply(lambda x: x.split(' ',1) )

In [182]:
data_merged['Address'].head()

0        [213, Separate]
1    [292, Wood Duck Rd]
2     [64, Long Hill Rd]
3         [560, Route 6]
4         [7, Bailey Rd]
Name: Address, dtype: object

-----------------------------------------------------------------------

In [183]:
#####city######

In [184]:
###Check for nulls

_____________________________________________________________________________

In [185]:
###### ACRES

In [186]:
data_merged['Acres'].describe()  ###### check for nulls

count     46390.00
unique     1870.00
top           0.17
freq        942.00
Name: Acres, dtype: float64

In [187]:
(data_merged['Acres'].isnull()).value_counts()

False    46390
True     11717
Name: Acres, dtype: int64

In [188]:
((data_merged['Acres'].isnull()) == (data_merged['Prop Type']!='SF')).value_counts()   ### Checks if missing plot size are not single family homes

True    58107
dtype: int64

In [189]:
data_merged['Acres'].str.isnumeric()

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
58102    False
58103    False
58104    False
58105    False
58106    False
Name: Acres, Length: 58107, dtype: object

In [190]:
#### make nulls into 0 or NAN to maintain blanks numerically

In [191]:
data_merged['Acres'] = data_merged['Acres'].apply(lambda x: 0 if(x is None) else x)

In [192]:
data_merged['Acres'].value_counts()

0.17     942
1.0      780
0.23     773
0.11     727
0.14     696
        ...
52.36      1
10.51      1
9.02       1
3.58       1
7.76       1
Name: Acres, Length: 1870, dtype: int64

In [193]:
data_merged['Acres'] = data_merged['Acres'].str.replace(',','')
data_merged['Acres'] = data_merged['Acres'].str.replace(' ','')
data_merged['Acres'] = data_merged['Acres'].str.replace('\xa0','')

In [194]:
data_merged['Acres'] = data_merged['Acres'].apply(lambda x: float(x))  ##### convert into numeric

In [195]:
data_merged['Acres'].describe()

count     9663.000000
mean         4.564764
std        194.788445
min          0.000000
25%          0.240000
50%          0.480000
75%          1.240000
max      12911.000000
Name: Acres, dtype: float64

In [196]:
(data_merged['Acres'].isnull()).value_counts()

True     48444
False     9663
Name: Acres, dtype: int64

----------------------------------------------------------------------------------------------

In [197]:
### SQFT TOTAL

In [198]:
data_merged['Sq Ft Total']

0        4,392
1        5,169
2        1,800
3        1,724
4        1,138
         ...
58102    2,632
58103    2,467
58104    2,974
58105    4,047
58106    3,083
Name: Sq Ft Total, Length: 58107, dtype: object

In [199]:
data_merged['Sq Ft Total'] = data_merged['Sq Ft Total'].str.replace(',','')   #### Remove commas

In [200]:
data_merged['Sq Ft Total'] = pd.to_numeric(data_merged['Sq Ft Total'])        #### Convert to numeric

In [201]:
data_merged['Sq Ft Total'].head()

0    4392
1    5169
2    1800
3    1724
4    1138
Name: Sq Ft Total, dtype: int64

In [202]:
data_merged['Sq Ft Total'].describe()

count    58107.000000
mean      2144.762748
std       1445.660832
min          0.000000
25%       1296.000000
50%       1788.000000
75%       2556.000000
max      99999.000000
Name: Sq Ft Total, dtype: float64

In [203]:
data_merged[data_merged['Sq Ft Total']==0]

,#,MLS#,Status,Status Change Timestamp,Prop Type,List/Closed Price,Address,City,Acres,Sq Ft Total,...,Rooms Total,Beds Total,Bathrooms,Garage/Park,Year Built,DOM,Listing Agent,List Office,list_price,close_price
42942,1001,E10196431,CLSD,10/19/20,CO,"[LP:, $26,000, CP:, $23,000]","[4, Northwest St, Unit #B44]",Stonington,NaN,0,...,0,0,NaN,1 Car/Open,1980.0,"1,288",Kathy Michalove,SEABRD00,26000,23000

In [204]:
data_merged.drop([42942],inplace=True)      ### Remove 0 Values

In [205]:
data_merged[data_merged['Sq Ft Total']==0]

Empty DataFrame
Columns: [#, MLS#, Status, Status Change Timestamp, Prop Type, List/Closed Price, Address, City, Acres, Sq Ft Total, Sq Ft Est Heated Above Grade, Style or Rent Type, Rooms Total, Beds Total, Bathrooms, Garage/Park, Year Built, DOM, Listing Agent, List Office, list_price, close_price]
Index: []

[0 rows x 22 columns]

In [206]:
data_merged[data_merged['Sq Ft Total']==99999]

,#,MLS#,Status,Status Change Timestamp,Prop Type,List/Closed Price,Address,City,Acres,Sq Ft Total,...,Rooms Total,Beds Total,Bathrooms,Garage/Park,Year Built,DOM,Listing Agent,List Office,list_price,close_price
13781,1,170369089,CLSD,03/30/21,CP,"[LP:, $399,000, CP:, $399,000]","[5, Putnam Park]",Greenwich,NaN,99999,...,5,2,1 Full,"Car/Detached Garage, On Street Parking",1950.0,20,Karen Oztemel,BHHS135,399000,399000
42943,1001,170192538,CLSD,10/19/20,CO,"[LP:, $27,000, CP:, $27,000]","[4, Northwest St, Unit #B43]",Stonington,NaN,99999,...,1,0,2 Full,Car/Unassigned Parking,1983.0,484,Kathy Michalove,SEABRD00,27000,27000

In [207]:
data_merged.drop([13781],inplace=True)                    #### Remove sqft == 99999
data_merged.drop([42943],inplace=True)

In [208]:
data_merged[data_merged['Sq Ft Total']==99999]

Empty DataFrame
Columns: [#, MLS#, Status, Status Change Timestamp, Prop Type, List/Closed Price, Address, City, Acres, Sq Ft Total, Sq Ft Est Heated Above Grade, Style or Rent Type, Rooms Total, Beds Total, Bathrooms, Garage/Park, Year Built, DOM, Listing Agent, List Office, list_price, close_price]
Index: []

[0 rows x 22 columns]

In [209]:
data_merged['Sq Ft Total'].describe()

count    58104.000000
mean      2141.431416
std       1326.781904
min         50.000000
25%       1296.000000
50%       1788.000000
75%       2556.000000
max      61184.000000
Name: Sq Ft Total, dtype: float64

----------------------------------------------------------------------------------

In [210]:
########## Sq Ft Est Heated Above Grade

In [211]:
data_merged['Sq Ft Est Heated Above Grade'].describe()

count     58088
unique     5375
top       1,008
freq        417
Name: Sq Ft Est Heated Above Grade, dtype: object

In [212]:
data_merged['Sq Ft Est Heated Above Grade'] = data_merged['Sq Ft Est Heated Above Grade'].str.replace(',','')

In [213]:
data_merged['Sq Ft Est Heated Above Grade'] = pd.to_numeric(data_merged['Sq Ft Est Heated Above Grade'])

In [214]:
data_merged['Sq Ft Total'].describe()

count    58104.000000
mean      2141.431416
std       1326.781904
min         50.000000
25%       1296.000000
50%       1788.000000
75%       2556.000000
max      61184.000000
Name: Sq Ft Total, dtype: float64

--------------------------------------------------------------------------

In [215]:
######Style or Rent Type

In [216]:
data_merged['Style or Rent Type'].head()

0        Colonial
1    Contemporary
2        Colonial
3           Ranch
4        Bungalow
Name: Style or Rent Type, dtype: object

In [217]:
data_merged['Style or Rent Type'].describe()

count        58103
unique         255
top       Colonial
freq         16295
Name: Style or Rent Type, dtype: object

In [218]:
data_merged['Style or Rent Type'].value_counts()

Colonial                    16295
Ranch                       12711
Cape Cod                     7408
Townhouse                    6233
Raised Ranch                 3348
                            ...
Apartment, Penthouse            1
Split Level, Half Duplex        1
Split Level, Antique            1
Cottage, Tudor                  1
Cape Cod, French                1
Name: Style or Rent Type, Length: 255, dtype: int64

In [219]:
### Aggregate lower numbers

---------------------------------------------------------------------

In [220]:
##### Rooms Total

In [221]:
data_merged['Rooms Total'].head()

0    11
1     7
2     7
3     6
4     6
Name: Rooms Total, dtype: int64

In [222]:
data_merged['Rooms Total'].describe()

count    58104.000000
mean         6.868632
std          2.384983
min          1.000000
25%          5.000000
50%          7.000000
75%          8.000000
max         99.000000
Name: Rooms Total, dtype: float64

In [223]:
data_merged[data_merged['Rooms Total']==99]

,#,MLS#,Status,Status Change Timestamp,Prop Type,List/Closed Price,Address,City,Acres,Sq Ft Total,...,Rooms Total,Beds Total,Bathrooms,Garage/Park,Year Built,DOM,Listing Agent,List Office,list_price,close_price
14307,501,170271291,CLSD,04/05/21,CO,"[LP:, $59,000, CP:, $59,000]","[7, River Rd, Unit #C-7]",Greenwich,NaN,50,...,99,0,NaN,Car/Other,1988.0,594,Barbara V Stephens,JSOTH1,59000,59000
14308,501,170271397,CLSD,06/21/21,CO,"[LP:, $89,000, CP:, $79,000]","[7, River Rd, Unit #E-8]",Greenwich,NaN,50,...,99,0,NaN,Car/Other,1988.0,446,Barbara V Stephens,JSOTH1,89000,79000

In [224]:
data_merged.drop([14307],inplace=True)                    #### Remove sqft == 99
data_merged.drop([14308],inplace=True)

In [225]:
data_merged[data_merged['Rooms Total']==99]

Empty DataFrame
Columns: [#, MLS#, Status, Status Change Timestamp, Prop Type, List/Closed Price, Address, City, Acres, Sq Ft Total, Sq Ft Est Heated Above Grade, Style or Rent Type, Rooms Total, Beds Total, Bathrooms, Garage/Park, Year Built, DOM, Listing Agent, List Office, list_price, close_price]
Index: []

[0 rows x 22 columns]

In [226]:
data_merged['Rooms Total'].describe()

count    58102.000000
mean         6.865461
std          2.322960
min          1.000000
25%          5.000000
50%          7.000000
75%          8.000000
max         90.000000
Name: Rooms Total, dtype: float64

----------------------------------------------------------------

In [227]:
#####   Beds Total

In [228]:
data_merged['Beds Total'].describe()

count    58102.000000
mean         3.149289
std          1.022703
min          0.000000
25%          3.000000
50%          3.000000
75%          4.000000
max         15.000000
Name: Beds Total, dtype: float64

In [229]:
len(data_merged[data_merged['Beds Total']==0])

88

--------------------------------------------------------------------------------------------------------------------

In [230]:
########### bathrooms    #################################

In [231]:
data_merged['Bathrooms'].describe()

count               58086
unique                 52
top       2 Full & 1 Half
freq                13022
Name: Bathrooms, dtype: object

In [232]:
data_merged['Bathrooms'].head(20)

0     3 Full & 1 Half
1     5 Full & 1 Half
2              1 Full
3              1 Full
4              1 Full
5              1 Full
6              2 Full
7              1 Full
8              2 Full
9              2 Full
10             1 Full
11    1 Full & 2 Half
12             1 Full
13             1 Full
14             2 Full
15             2 Full
16    1 Full & 1 Half
17    1 Full & 1 Half
18             2 Full
19    2 Full & 1 Half
Name: Bathrooms, dtype: object

In [233]:
data_merged['Bathrooms'].value_counts()

2 Full & 1 Half     13022
2 Full              12565
1 Full & 1 Half     10117
1 Full               9980
3 Full & 1 Half      3919
3 Full               3389
4 Full & 1 Half      1176
2 Full & 2 Half       724
4 Full                528
3 Full & 2 Half       520
5 Full & 1 Half       412
4 Full & 2 Half       360
1 Full & 2 Half       350
5 Full & 2 Half       230
6 Full & 2 Half       142
6 Full & 1 Half       120
5 Full                117
7 Full & 2 Half        52
5 Full & 3 Half        46
4 Full & 3 Half        41
7 Full & 1 Half        40
3 Full & 3 Half        34
6 Full & 3 Half        33
6 Full                 27
2 Full & 3 Half        20
7 Full & 3 Half        19
8 Full & 1 Half        18
8 Full & 2 Half        16
8 Full & 3 Half         9
 & 1 Half               8
7 Full & 4 Half         6
9 Full & 2 Half         5
1 Full & 3 Half         5
5 Full & 4 Half         4
4 Full & 4 Half         4
8 Full & 4 Half         4
7 Full                  4
6 Full & 4 Half         3
9 Full & 1 Half         3
12 Full & 2 Half        2
9 Full                  1
99 Full & 4 Half        1
9 Full & 4 Half         1
20 Full                 1
2 Full & 4 Half         1
3 Full & 5 Half         1
3 Full & 4 Half         1
 & 4 Half               1
10 Full & 1 Half        1
11 Full & 2 Half        1
6 Full & 8 Half         1
 & 2 Half               1
Name: Bathrooms, dtype: int64

In [234]:
#  data_merged['Bathrooms'] = data_merged['Bathrooms'].apply(lambda x: x.split('&'))


AttributeError   Traceback (most recent call last)
<ipython-input-461-a8c3442477bf> in <module>
----> 1 data_merged['Bathrooms'] = data_merged['Bathrooms'].apply(lambda x: x.split('&'))

~\anaconda3\lib\site-packages\pandas\core\series.py in apply(self, func, convert_dtype, args, **kwds)
   4198             else:
   4199                 values = self.astype(object)._values
-> 4200                 mapped = lib.map_infer(values, f, convert=convert_dtype)
   4201 
   4202         if len(mapped) and isinstance(mapped[0], Series):

pandas\_libs\lib.pyx in pandas._libs.lib.map_infer()

<ipython-input-461-a8c3442477bf> in <lambda>(x)
----> 1 data_merged['Bathrooms'] = data_merged['Bathrooms'].apply(lambda x: x.split('&'))

AttributeError: 'float' object has no attribute 'split'

In [235]:
type(data_merged['Bathrooms'][1])     ####need to identify not str

str

In [236]:
test =data_merged[['MLS#','Bathrooms']]
issues = 0
issues_mls=[]
for i in range(0, len(test)-1):
    
    if type(test.iloc[i]['Bathrooms']) != str:
        issues +=1
        print(test.iloc[i])
        issues_mls.append(test.iloc[i]['MLS#'])

MLS#         170318789
Bathrooms          NaN
Name: 14587, dtype: object
MLS#         170296008
Bathrooms          NaN
Name: 14590, dtype: object
MLS#         170340976
Bathrooms          NaN
Name: 14591, dtype: object
MLS#         170394127
Bathrooms          NaN
Name: 14592, dtype: object
MLS#         170324757
Bathrooms          NaN
Name: 14593, dtype: object
MLS#         170262389
Bathrooms          NaN
Name: 14594, dtype: object
MLS#         170273381
Bathrooms          NaN
Name: 20279, dtype: object
MLS#         170257507
Bathrooms          NaN
Name: 29945, dtype: object
MLS#         170386295
Bathrooms          NaN
Name: 30479, dtype: object
MLS#         170350695
Bathrooms          NaN
Name: 34705, dtype: object
MLS#         170355886
Bathrooms          NaN
Name: 37384, dtype: object
MLS#         170384384
Bathrooms          NaN
Name: 42080, dtype: object
MLS#         170382922
Bathrooms          NaN
Name: 42945, dtype: object
MLS#         170399407 CO
Bathrooms             NaN
Name: 42946, dtype: object
MLS#         170388550
Bathrooms          NaN
Name: 42947, dtype: object
MLS#         170370044
Bathrooms          NaN
Name: 43015, dtype: object

In [237]:
print(issues)

16

In [238]:
for i in issues_mls:                                   ####Checking what observations with missing baths looks like
    print(data_merged[data_merged['MLS#']==i])

         #       MLS# Status Status Change Timestamp Prop Type  \
14587  501  170318789   CLSD                08/10/20        CO

                  List/Closed Price                            Address  \
14587  [LP:, $13,500, CP:, $12,000]  [379, Whitfield St, Unit #CS1036]

           City  Acres  Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  \
14587  Guilford    NaN          578  ...            1          0        NaN

                                Garage/Park Year Built DOM  \
14587   Car/Unassigned Parking, Parking Lot     2012.0   9

                  Listing Agent List Office list_price close_price
14587  Deborah Citelli-Robinson      PEAR51      13500       12000

[1 rows x 22 columns]
         #       MLS# Status Status Change Timestamp Prop Type  \
14590  501  170296008   CLSD                08/20/20        CO

                  List/Closed Price                            Address  \
14590  [LP:, $17,900, CP:, $17,900]  [379, Whitfield St, Unit #CS2636]

           City  Acres  Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  \
14590  Guilford    NaN          578  ...            1          0        NaN

                                          Garage/Park Year Built DOM  \
14590   Car/Unassigned Parking, Parking Lot, Security     2012.0  75

                  Listing Agent List Office list_price close_price
14590  Deborah Citelli-Robinson      PEAR51      17900       17900

[1 rows x 22 columns]
         #       MLS# Status Status Change Timestamp Prop Type  \
14591  501  170340976   CLSD                11/17/20        CO

                  List/Closed Price                            Address  \
14591  [LP:, $23,900, CP:, $23,000]  [379, Whitfield St, Unit #BS1438]

           City  Acres  Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  \
14591  Guilford    NaN          646  ...            1          0        NaN

                   Garage/Park Year Built DOM             Listing Agent  \
14591   Car/Unassigned Parking     2012.0  22  Deborah Citelli-Robinson

      List Office list_price close_price
14591      PEAR51      23900       23000

[1 rows x 22 columns]
         #       MLS# Status Status Change Timestamp Prop Type  \
14592  501  170394127   CLSD                06/12/21        CO

                  List/Closed Price                            Address  \
14592  [LP:, $29,900, CP:, $27,000]  [379, Whitfield St, Unit #CN1746]

           City  Acres  Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  \
14592  Guilford    NaN          776  ...            1          0        NaN

                                 Garage/Park Year Built DOM  \
14592  2 Car/Unassigned Parking, Parking Lot     2012.0  35

                  Listing Agent List Office list_price close_price
14592  Deborah Citelli-Robinson      PEAR51      29900       27000

[1 rows x 22 columns]
         #       MLS# Status Status Change Timestamp Prop Type  \
14593  501  170324757   CLSD                10/28/20        CO

                  List/Closed Price                            Address  \
14593  [LP:, $30,000, CP:, $30,000]  [379, Whitfield St, Unit #AN2242]

           City  Acres  Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  \
14593  Guilford    NaN          756  ...            1          0        NaN

       Garage/Park Year Built DOM    Listing Agent List Office list_price  \
14593    Car/Paved     2012.0  65  Rose Ciardiello      RAVE50      30000

      close_price
14593       30000

[1 rows x 22 columns]
         #       MLS# Status Status Change Timestamp Prop Type  \
14594  501  170262389   CLSD                08/07/20        CO

                  List/Closed Price                            Address  \
14594  [LP:, $39,999, CP:, $37,000]  [379, Whitfield St, Unit #CN1546]

           City  Acres  Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  \
14594  Guilford    NaN          776  ...            1          0        NaN

                                 Garage/Park Year Built  DOM  \
14594  1 Car/Unassigned Parking, Parking Lot     2012.0  197

                  Listing Agent List Office list_price close_price
14594  Deborah Citelli-Robinson      PEAR51      39999       37000

[1 rows x 22 columns]
          #       MLS# Status Status Change Timestamp Prop Type  \
20279  1501  170273381   CLSD                08/31/20        SF

                  List/Closed Price               Address     City  Acres  \
20279  [LP:, $35,000, CP:, $30,000]  [349, Hartford Tpke]  Hampton    NaN

       Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  Garage/Park  \
20279         1546  ...            5          0        NaN    Car/Other

      Year Built  DOM     Listing Agent List Office list_price close_price
20279     1879.0  141  Nicole M Garbutt      BRBR01      35000       30000

[1 rows x 22 columns]
          #       MLS# Status Status Change Timestamp Prop Type  \
29945  1501  170257507   CLSD                05/16/21        SF

                    List/Closed Price        Address          City  Acres  \
29945  [LP:, $104,900, CP:, $104,900]  [46, Pond Rd]  New Hartford    NaN

       Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  \
29945         1200  ...            5          3        NaN

                   Garage/Park Year Built  DOM   Listing Agent List Office  \
29945   Car/Off Street Parking     1987.0  456  Valerie Lebiti      BHHS41

      list_price close_price
29945     104900      104900

[1 rows x 22 columns]
          #       MLS# Status Status Change Timestamp Prop Type  \
30479  2001  170386295   CLSD                05/07/21        SF

                    List/Closed Price            Address        City  Acres  \
30479  [LP:, $194,900, CP:, $141,000]  [281, Pequot Ave]  New London    NaN

       Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  \
30479         9999  ...            1          0        NaN

                   Garage/Park Year Built DOM   Listing Agent List Office  \
30479   Car/Off Street Parking     1910.0   9  Camille Taylor    ERATYR00

      list_price close_price
30479     194900      141000

[1 rows x 22 columns]
          #       MLS# Status Status Change Timestamp Prop Type  \
34705  1501  170350695   CLSD                01/22/21        SF

                  List/Closed Price          Address     City  Acres  \
34705  [LP:, $19,900, CP:, $15,000]  [36, Hedge Ave]  Norwich    NaN

       Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  Garage/Park  \
34705         1784  ...            1          0        NaN  1 Car/Other

      Year Built DOM      Listing Agent List Office list_price close_price
34705     1850.0  35  Leticia Rodriguez      KWGH30      19900       15000

[1 rows x 22 columns]
       #       MLS# Status Status Change Timestamp Prop Type  \
37384  1  170355886   CLSD                12/19/20        CO

                  List/Closed Price                           Address  \
37384  [LP:, $12,900, CP:, $12,900]  [28, Fox Hill Garage, Unit #G28]

             City  Acres  Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  \
37384  Ridgefield    NaN          200  ...            1          0        NaN

                 Garage/Park Year Built DOM     Listing Agent List Office  \
37384  1 Car/Detached Garage     1974.0   3  Michael Pavlicin     CBRB102

      list_price close_price
37384      12900       12900

[1 rows x 22 columns]
       #       MLS# Status Status Change Timestamp Prop Type  \
42080  1  170384384   CLSD                06/07/21        CO

                  List/Closed Price                     Address      City  \
42080  [LP:, $25,000, CP:, $25,000]  [148, Seaton Rd, Unit #G9]  Stamford

       Acres  Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  \
42080    NaN          195  ...            1          0        NaN

                    Garage/Park Year Built DOM    Listing Agent List Office  \
42080  1 Car/Unit Garage, Other     1951.0  71  Mei Ling Cheung        3623

      list_price close_price
42080      25000       25000

[1 rows x 22 columns]
          #       MLS# Status Status Change Timestamp Prop Type  \
42945  1001  170382922   CLSD                05/10/21        CO

                  List/Closed Price                       Address        City  \
42945  [LP:, $49,000, CP:, $46,500]  [4, Northwest St, Unit #B26]  Stonington

       Acres  Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  \
42945    NaN           50  ...            1          0        NaN

                   Garage/Park Year Built DOM    Listing Agent List Office  \
42945   Car/Off Street Parking     1983.0  17  Kathy Michalove    SEABRD00

      list_price close_price
42945      49000       46500

[1 rows x 22 columns]

          #          MLS# Status Status Change Timestamp Prop Type  \
42946  1001  170399407 CO   CLSD                06/09/21        CO

                  List/Closed Price                      Address        City  \
42946  [LP:, $49,750, CP:, $48,500]  [4, Northwest St, Unit #B8]  Stonington

       Acres  Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  \
42946    NaN          100  ...            1          0        NaN

                   Garage/Park Year Built DOM    Listing Agent List Office  \
42946   Car/Off Street Parking     1983.0   1  Kathy Michalove    SEABRD00

      list_price close_price
42946      49750       48500

[1 rows x 22 columns]
          #       MLS# Status Status Change Timestamp Prop Type  \
42947  1001  170388550   CLSD                07/22/21        CO

                  List/Closed Price                       Address        City  \
42947  [LP:, $59,000, CP:, $49,000]  [4, Northwest St, Unit #B24]  Stonington

       Acres  Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  \
42947    NaN           50  ...            1          0        NaN

                                       Garage/Park Year Built DOM  \
42947   Car/Unassigned Parking, Off Street Parking     1983.0  41

         Listing Agent List Office list_price close_price
42947  Kathy Michalove    SEABRD00      59000       49000

[1 rows x 22 columns]
          #       MLS# Status Status Change Timestamp Prop Type  \
43015  1001  170370044   CLSD                03/24/21        CO

                  List/Closed Price                 Address       City  Acres  \
43015  [LP:, $25,000, CP:, $15,000]  [BS05, Harbourview Pl]  Stratford    NaN

       Sq Ft Total  ...  Rooms Total Beds Total  Bathrooms  \
43015          100  ...            1          0        NaN

                                       Garage/Park Year Built DOM  \
43015   Car/Off Street Parking, Parking Lot, Other     2009.0  50

       Listing Agent List Office list_price close_price
43015      Omar Cruz      CPCT80      25000       15000

[1 rows x 22 columns]

In [239]:
data_merged=data_merged.dropna(subset = ['Bathrooms'])     #### Subset picks column for NA

In [240]:
print(len(data_merged))

58086

In [241]:
 data_merged['Bathrooms'].apply(lambda x: 'Full' in x).value_counts()      ###### Count countaining full for QA

True     58076
False       10
Name: Bathrooms, dtype: int64

In [242]:
 data_merged['Bathrooms'].apply(lambda x: 'Half' in x).value_counts()        ###### Count countaining Half for QA

True     31474
False    26612
Name: Bathrooms, dtype: int64

In [243]:
data_merged['Bathrooms'] = data_merged['Bathrooms'].apply(lambda x: x.split('&'))

In [244]:
data_merged['Bathrooms']

0        [3 Full ,  1 Half]
1        [5 Full ,  1 Half]
2                  [1 Full]
3                  [1 Full]
4                  [1 Full]
                ...
58102    [3 Full ,  1 Half]
58103    [2 Full ,  1 Half]
58104    [3 Full ,  1 Half]
58105    [3 Full ,  1 Half]
58106    [2 Full ,  1 Half]
Name: Bathrooms, Length: 58086, dtype: object

In [245]:
'Full' in data_merged['Bathrooms'][0][0]

True

In [246]:
data_merged['Full Bath'] = data_merged['Bathrooms'].apply(lambda x: x[0] if ('Full' in x[0]) else '0')

In [247]:
data_merged['Full Bath'].head()

0    3 Full
1    5 Full
2     1 Full
3     1 Full
4     1 Full
Name: Full Bath, dtype: object

In [248]:
data_merged['Full Bath'].value_counts()

2 Full      13767
2 Full      12565
1 Full      10472
1 Full       9980
3 Full       4475
3 Full       3389
4 Full       1581
5 Full        692
4 Full        528
6 Full        299
7 Full        117
5 Full        117
8 Full         47
6 Full         27
0              10
9 Full          9
7 Full          4
12 Full         2
99 Full         1
20 Full         1
10 Full         1
11 Full         1
9 Full          1
Name: Full Bath, dtype: int64

In [249]:
data_merged['Half Bath'] = data_merged['Bathrooms'].apply(lambda x: x[1] if (len(x)==2) else '0')

In [250]:
########data_merged['Half Bath'] = data_merged['Bathrooms'].apply(lambda x: x[0] if ('Half' in x[0]) else )

In [251]:
data_merged['Half Bath'].head()

0     1 Half
1     1 Half
2          0
3          0
4          0
Name: Half Bath, dtype: object

In [252]:
data_merged['Half Bath'].value_counts()

 1 Half    28836
0          26612
 2 Half     2403
 3 Half      207
 4 Half       26
 5 Half        1
 8 Half        1
Name: Half Bath, dtype: int64

There are too many zero entries, perhaps there is an issue.  Upon Checking this matches the check before making changes to the bathroom column.

In [253]:
data_merged['Full Bath'] = data_merged['Full Bath'].apply(lambda x: x.split(' ',1))

In [254]:
data_merged['Full Bath'].head()

0    [3, Full ]
1    [5, Full ]
2     [1, Full]
3     [1, Full]
4     [1, Full]
Name: Full Bath, dtype: object

In [255]:
data_merged['Full Bath'] = data_merged['Full Bath'].apply(lambda x: x[0])

In [256]:
data_merged['Full Bath'].value_counts()

2     26332
1     20452
3      7864
4      2109
5       809
6       326
7       121
8        47
0        10
9        10
12        2
10        1
11        1
99        1
20        1
Name: Full Bath, dtype: int64

In [257]:
data_merged['Full Bath'] = pd.to_numeric(data_merged['Full Bath'])

In [258]:
data_merged['Full Bath'].describe()

count    58086.000000
mean         1.938884
std          1.052606
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max         99.000000
Name: Full Bath, dtype: float64


Full Baths seems to be in order. Now to finish Half Baths

In [259]:
data_merged['Half Bath'].value_counts()

 1 Half    28836
0          26612
 2 Half     2403
 3 Half      207
 4 Half       26
 5 Half        1
 8 Half        1
Name: Half Bath, dtype: int64

In [260]:
data_merged['Half Bath'].head()

0     1 Half
1     1 Half
2          0
3          0
4          0
Name: Half Bath, dtype: object

In [261]:
data_merged['Half Bath'] = data_merged['Half Bath'].str.replace(' ','')

In [262]:
data_merged['Half Bath'].head()

0    1Half
1    1Half
2        0
3        0
4        0
Name: Half Bath, dtype: object

In [263]:
data_merged['Half Bath'] = data_merged['Half Bath'].apply(lambda x: x.split('Half'))

In [264]:
data_merged['Half Bath'].head()

0    [1, ]
1    [1, ]
2      [0]
3      [0]
4      [0]
Name: Half Bath, dtype: object

In [265]:
data_merged['Half Bath'] = data_merged['Half Bath'].apply(lambda x: x[0])

In [266]:
data_merged['Half Bath'].value_counts()

1    28836
0    26612
2     2403
3      207
4       26
8        1
5        1
Name: Half Bath, dtype: int64

In [267]:
data_merged['Half Bath'] = pd.to_numeric(data_merged['Half Bath'])

In [268]:
data_merged['Half Bath'].describe()

count    58086.000000
mean         0.591881
std          0.593604
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          8.000000
Name: Half Bath, dtype: float64

In [269]:
####split on full or half, include else statement to "" or 0 for nothing #######

-------------------------------------------------------------------------------------

In [270]:
#####Garage / park

In [271]:
data_merged['Garage/Park'].head()

0       2 Car/Attached Garage
1       2 Car/Attached Garage
2    2 Car/Off Street Parking
3      Car/Off Street Parking
4       2 Car/Detached Garage
Name: Garage/Park, dtype: object

In [272]:
data_merged['Garage/Park'].value_counts()

2 Car/Attached Garage                              13118
1 Car/Attached Garage                               5862
1 Car/Detached Garage                               3209
 Car/Off Street Parking                             3156
2 Car/Detached Garage                               3029
                                                   ...
1 Car/Detached Garage, Security                        1
 Car/Carport, Other                                    1
 Car/Driveway, On Street Parking                       1
2 Car/Detached Garage, RV/Boat Pad                     1
1 Car/Detached Garage, Covered Garage, Security        1
Name: Garage/Park, Length: 1201, dtype: int64

In [273]:
 data_merged['Garage/Park'].apply(lambda x: 'Garage' in x).value_counts()       ###counts entries with 'garage' for test below

True     43442
False    14644
Name: Garage/Park, dtype: int64

In [274]:
data_merged['Garage/Park'] = data_merged['Garage/Park'].apply(lambda x: x.split('/',1))

In [275]:
data_merged['Garage/Park'].head()

0       [2 Car, Attached Garage]
1       [2 Car, Attached Garage]
2    [2 Car, Off Street Parking]
3     [ Car, Off Street Parking]
4       [2 Car, Detached Garage]
Name: Garage/Park, dtype: object

In [276]:
data_merged[data_merged['Garage/Park'].apply(lambda x: len(x)<2)]

,#,MLS#,Status,Status Change Timestamp,Prop Type,List/Closed Price,Address,City,Acres,Sq Ft Total,...,Bathrooms,Garage/Park,Year Built,DOM,Listing Agent,List Office,list_price,close_price,Full Bath,Half Bath
28528,1,N10197464,CLSD,05/09/21,CO,"[LP:, $279,900, CP:, $265,000]","[40, Harbour Close, Unit #B-14]",New Haven,NaN,1500,...,"[2 Full , 1 Half]",[Assigned Parking],1983.0,43,Rick Chamberlin,REAT30,279900,265000,2,1
32142,3501,L152330,CLSD,08/19/20,SF,"[LP:, $3,999,000, CP:, $4,015,000]","[419, Bald Mountain Rd]",Norfolk,NaN,7100,...,[7 Full],[2 Car],1925.0,"2,089",THOMAS MCGOWAN,HARN42,3999000,4015000,7,0

In [277]:
data_merged['Garage/Park'].loc[32142] = ['2 car', 'Garage']

C:\Users\kyu_k\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [278]:
data_merged['Garage/Park'].loc[28528]=['Assigned Parking','Parking Lot']

In [279]:
data_merged[data_merged['Garage/Park'].apply(lambda x: len(x)<2)]

Empty DataFrame
Columns: [#, MLS#, Status, Status Change Timestamp, Prop Type, List/Closed Price, Address, City, Acres, Sq Ft Total, Sq Ft Est Heated Above Grade, Style or Rent Type, Rooms Total, Beds Total, Bathrooms, Garage/Park, Year Built, DOM, Listing Agent, List Office, list_price, close_price, Full Bath, Half Bath]
Index: []

[0 rows x 24 columns]

In [280]:
data_merged[data_merged['Garage/Park'].apply(lambda x: len(x)>2)]

Empty DataFrame
Columns: [#, MLS#, Status, Status Change Timestamp, Prop Type, List/Closed Price, Address, City, Acres, Sq Ft Total, Sq Ft Est Heated Above Grade, Style or Rent Type, Rooms Total, Beds Total, Bathrooms, Garage/Park, Year Built, DOM, Listing Agent, List Office, list_price, close_price, Full Bath, Half Bath]
Index: []

[0 rows x 24 columns]

In [281]:
data_merged['Garage'] = data_merged['Garage/Park'].apply(lambda x: x[0] if ('Garage' in x[1]) else '0')   ####Uses count if garage is in descriptor

In [282]:
data_merged['Parking'] = data_merged['Garage/Park'].apply(lambda x: x[1])

In [283]:
data_merged['Garage'][data_merged['Garage']!= '0'].value_counts().sum()            ##### Matches above count

43443

In [284]:
data_merged['Garage'].value_counts()

2 Car     23314
1 Car     15206
0         14643
3 Car      3711
4 Car       703
5 Car       186
 Car        139
6 Car        95
7 Car        25
8 Car        24
9 Car        10
10 Car        9
12 Car        6
11 Car        5
13 Car        3
14 Car        2
40 Car        1
2 car         1
50 Car        1
18 Car        1
17 Car        1
Name: Garage, dtype: int64

In [285]:
len(data_merged[data_merged['Garage']==" Car"])

139

In [286]:
data_merged['Garage'] = data_merged['Garage'].apply(lambda x: '99999' if (x == ' Car') else x)         #####perhaps impute 99999 later

In [287]:
data_merged['Garage'].value_counts()

2 Car     23314
1 Car     15206
0         14643
3 Car      3711
4 Car       703
5 Car       186
99999       139
6 Car        95
7 Car        25
8 Car        24
9 Car        10
10 Car        9
12 Car        6
11 Car        5
13 Car        3
14 Car        2
40 Car        1
2 car         1
50 Car        1
18 Car        1
17 Car        1
Name: Garage, dtype: int64

In [288]:
data_merged['Garage'] = data_merged['Garage'].str.replace(' ','')

In [289]:
data_merged['Garage'].head(10)

0    2Car
1    2Car
2       0
3       0
4    2Car
5    2Car
6    2Car
7    1Car
8    2Car
9    2Car
Name: Garage, dtype: object

In [290]:
data_merged['Garage'] = data_merged['Garage'].str.replace('Car','')

In [291]:
data_merged['Garage'] = data_merged['Garage'].str.replace('car','')

In [292]:
data_merged['Garage'] = pd.to_numeric(data_merged['Garage'])

In [293]:
data_merged['Garage'].describe()

count    58086.000000
mean       240.643322
std       4885.904309
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max      99999.000000
Name: Garage, dtype: float64

-------------------------------------------------------------------------------

In [294]:
##### Year Built

In [295]:
data_merged['Year Built'].describe()

count    58082.000000
mean      1964.645587
std         39.046053
min          0.000000
25%       1951.000000
50%       1969.000000
75%       1988.000000
max       2021.000000
Name: Year Built, dtype: float64

In [296]:
data_merged[data_merged['Year Built'] == 0]

,#,MLS#,Status,Status Change Timestamp,Prop Type,List/Closed Price,Address,City,Acres,Sq Ft Total,...,Year Built,DOM,Listing Agent,List Office,list_price,close_price,Full Bath,Half Bath,Garage,Parking
1285,1,N353220,CLSD,12/22/20,SF,"[LP:, $369,900, CP:, $400,000]","[202, Pole Hill Rd]",Bethany,NaN,2328,...,0.0,"1,945",Thomas J Cavaliere,CBRB34,369900,400000,2,1,2,Under House Garage

In [297]:
data_merged[data_merged['Year Built'] <= 1650]

,#,MLS#,Status,Status Change Timestamp,Prop Type,List/Closed Price,Address,City,Acres,Sq Ft Total,...,Year Built,DOM,Listing Agent,List Office,list_price,close_price,Full Bath,Half Bath,Garage,Parking
1285,1,N353220,CLSD,12/22/20,SF,"[LP:, $369,900, CP:, $400,000]","[202, Pole Hill Rd]",Bethany,NaN,2328,...,0.0,"1,945",Thomas J Cavaliere,CBRB34,369900,400000,2,1,2,Under House Garage

In [298]:
data_merged.drop(index=1285,inplace = True)

In [299]:
data_merged[data_merged['Year Built'] <= 1650]

Empty DataFrame
Columns: [#, MLS#, Status, Status Change Timestamp, Prop Type, List/Closed Price, Address, City, Acres, Sq Ft Total, Sq Ft Est Heated Above Grade, Style or Rent Type, Rooms Total, Beds Total, Bathrooms, Garage/Park, Year Built, DOM, Listing Agent, List Office, list_price, close_price, Full Bath, Half Bath, Garage, Parking]
Index: []

[0 rows x 26 columns]

In [300]:
data_merged['Year Built'].describe()

count    58081.000000
mean      1964.679413
std         38.185890
min       1659.000000
25%       1951.000000
50%       1969.000000
75%       1988.000000
max       2021.000000
Name: Year Built, dtype: float64

____________________________________________________________________________

In [301]:
##### Days on Market

In [302]:
data_merged['DOM'].head(20)

0      22
1      56
2       8
3     231
4      69
5       2
6      41
7      77
8       3
9      88
10      7
11     73
12      8
13      4
14    242
15      1
16      2
17     69
18      4
19      7
Name: DOM, dtype: object

In [303]:
data_merged['DOM'].describe()

count     58085
unique     1094
top           3
freq       2703
Name: DOM, dtype: object

In [304]:
print(data_merged['DOM'].value_counts())

3        2703
2        2250
4        2200
5        1574
1        1134
         ...
723         1
740         1
402         1
768         1
1,105       1
Name: DOM, Length: 1094, dtype: int64

In [305]:
data_merged['DOM'].isnull().value_counts()

False    58085
Name: DOM, dtype: int64

In [306]:
(data_merged['DOM']=='').value_counts()

False    58085
Name: DOM, dtype: int64

In [307]:
data_merged['DOM'] = data_merged['DOM'].str.replace(',','')

In [308]:
data_merged['DOM'] = data_merged['DOM'].str.replace(' ','')

In [309]:
data_merged['DOM'] = pd.to_numeric(data_merged['DOM'])

In [310]:
data_merged['DOM'].isnull().value_counts()

False    44692
True     13393
Name: DOM, dtype: int64

In [311]:
##data_merged[data_merged['DOM'].isnull()]

In [312]:
data_merged['DOM'].describe()

count    44692.000000
mean        54.041820
std         88.156794
min       -328.000000
25%          6.000000
50%         29.000000
75%         67.000000
max       2889.000000
Name: DOM, dtype: float64

In [313]:
len(data_merged[data_merged['DOM'] == 0])

469

In [314]:
len(data_merged[data_merged['DOM'] < 0])

7

In [315]:
print(data_merged.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58085 entries, 0 to 58106
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   #                             58085 non-null  int64
 1   MLS#                          58085 non-null  object
 2   Status                        58085 non-null  object
 3   Status Change Timestamp       58085 non-null  object
 4   Prop Type                     58085 non-null  object
 5   List/Closed Price             58085 non-null  object
 6   Address                       58085 non-null  object
 7   City                          58085 non-null  object
 8   Acres                         9663 non-null   float64
 9   Sq Ft Total                   58085 non-null  int64
 10  Sq Ft Est Heated Above Grade  58070 non-null  float64
 11  Style or Rent Type            58084 non-null  object
 12  Rooms Total                   58085 non-null  int64
 13  Beds Total                    58085 non-null  int64
 14  Bathrooms                     58085 non-null  object
 15  Garage/Park                   58085 non-null  object
 16  Year Built                    58081 non-null  float64
 17  DOM                           44692 non-null  float64
 18  Listing Agent                 58085 non-null  object
 19  List Office                   58085 non-null  object
 20  list_price                    58085 non-null  int64
 21  close_price                   58085 non-null  int64
 22  Full Bath                     58085 non-null  int64
 23  Half Bath                     58085 non-null  int64
 24  Garage                        58085 non-null  int64
 25  Parking                       58085 non-null  object
dtypes: float64(4), int64(9), object(13)
memory usage: 12.0+ MB
None