In [1]:
import pandas as pd

In [10]:
data_merged = pd.DataFrame()

In [26]:
for i in range(1,11):
    
    filename = 'C:/Users/kyu_k/OneDrive/Desktop/ds/Spring board DS Career track/Capstone 2/data/2/Agent Single Line (' + str(i) + ').csv'
    dataframe = pd.read_csv(filename)
    
    if i == 1:
        data_merged = dataframe
        print(data_merged.describe())
    else:
        data_merged = data_merged.append(dataframe)
        print(data_merged.describe())

           #       Acres  Rooms Total  Beds Total   Year Built         DOM
count  500.0  389.000000    500.00000  500.000000   500.000000  500.000000
mean     1.0    0.636067      6.44200    2.932000  1961.458000   18.970000
std      0.0    0.843020      1.85189    0.872295    31.202555   33.065871
min      1.0    0.000000      1.00000    0.000000  1760.000000    0.000000
25%      1.0    0.200000      5.00000    2.000000  1950.000000    3.000000
50%      1.0    0.330000      6.00000    3.000000  1965.000000    6.000000
75%      1.0    0.700000      7.00000    3.000000  1983.000000   30.000000
max      1.0   10.000000     13.00000    6.000000  2021.000000  596.000000
            #       Acres  Rooms Total   Beds Total   Year Built          DOM
count  1000.0  769.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean      1.0    0.639467     6.393000     2.920000  1963.523000    20.130000
std       0.0    0.915306     1.916305     0.893531    30.955609    28.719713
min       1.0    0.000000     1.000000     0.000000  1760.000000     0.000000
25%       1.0    0.180000     5.000000     2.000000  1950.000000     3.000000
50%       1.0    0.320000     6.000000     3.000000  1967.000000     7.000000
75%       1.0    0.730000     7.000000     3.000000  1986.000000    32.000000
max       1.0   10.470000    18.000000     6.000000  2021.000000   596.000000
            #        Acres  Rooms Total   Beds Total   Year Built          DOM
count  1500.0  1162.000000  1500.000000  1500.000000  1500.000000  1500.000000
mean      1.0     0.644862     6.365333     2.938000  1963.757333    20.433333
std       0.0     0.962652     1.901475     0.890703    30.207595    27.097880
min       1.0     0.000000     1.000000     0.000000  1760.000000   -22.000000
25%       1.0     0.180000     5.000000     2.000000  1950.000000     3.000000
50%       1.0     0.320000     6.000000     3.000000  1967.000000     8.000000
75%       1.0     0.730000     7.000000     3.000000  1986.000000    33.000000
max       1.0    11.790000    18.000000     6.000000  2021.000000   596.000000
            #        Acres  Rooms Total   Beds Total  Year Built         DOM
count  2000.0  1530.000000  2000.000000  2000.000000  2000.00000  2000.00000
mean      1.0     0.629556     6.364500     2.937500  1963.59150    21.62000
std       0.0     0.945276     1.900644     0.905541    30.60155    27.02193
min       1.0     0.000000     1.000000     0.000000  1760.00000   -22.00000
25%       1.0     0.180000     5.000000     2.000000  1950.00000     4.00000
50%       1.0     0.320000     6.000000     3.000000  1967.00000     9.00000
75%       1.0     0.700000     7.000000     3.000000  1986.00000    35.00000
max       1.0    11.790000    18.000000     7.000000  2021.00000   596.00000
            #        Acres  Rooms Total   Beds Total   Year Built          DOM
count  2500.0  1900.000000   2500.00000  2500.000000  2500.000000  2500.000000
mean      1.0     0.642758      6.38320     2.930000  1963.709200    22.098800
std       0.0     1.418770      1.91024     0.905001    30.282117    27.209535
min       1.0     0.000000      1.00000     0.000000  1760.000000   -22.000000
25%       1.0     0.180000      5.00000     2.000000  1950.000000     4.000000
50%       1.0     0.310000      6.00000     3.000000  1967.000000     9.000000
75%       1.0     0.700000      7.00000     3.000000  1986.000000    35.000000
max       1.0    48.540000     18.00000     7.000000  2021.000000   596.000000
            #        Acres  Rooms Total   Beds Total   Year Built          DOM
count  3000.0  2287.000000  3000.000000  3000.000000  3000.000000  3000.000000
mean      1.0     0.642864     6.377333     2.934667  1963.915333    22.755000
std       0.0     1.339263     1.895649     0.902221    30.451863    27.301272
min       1.0     0.000000     1.000000     0.000000  1760.000000   -22.000000
25%       1.0     0.180000     5.000000     2.000000  1950.000000     4.000000
50%       1.0     0.310000     6.000000     3.000000  1967.000000    10.000000
75%       1.0     0.700000     7.000000     3.000000  1986.000000    36.000000
max       1.0    48.540000    18.000000     9.000000  2021.000000   596.000000
            #        Acres  Rooms Total   Beds Total   Year Built          DOM
count  3500.0  2666.000000  3500.000000  3500.000000  3500.000000  3500.000000
mean      1.0     0.629865     6.350857     2.931714  1963.669429    24.528000
std       0.0     1.282635     1.879717     0.900395    30.925371    28.657791
min       1.0     0.000000     1.000000     0.000000  1760.000000   -22.000000
25%       1.0     0.180000     5.000000     2.000000  1950.000000     4.000000
50%       1.0     0.300000     6.000000     3.000000  1967.000000    11.000000
75%       1.0     0.690000     7.000000     3.000000  1986.000000    40.000000
max       1.0    48.540000    18.000000     9.000000  2021.000000   596.000000
            #        Acres  Rooms Total   Beds Total   Year Built          DOM
count  4000.0  3054.000000  4000.000000  4000.000000  4000.000000  4000.000000
mean      1.0     0.623949     6.336000     2.930000  1963.605500    26.255000
std       0.0     1.224314     1.860906     0.896828    30.684471    30.060978
min       1.0     0.000000     1.000000     0.000000  1760.000000   -22.000000
25%       1.0     0.180000     5.000000     2.000000  1950.000000     4.000000
50%       1.0     0.300000     6.000000     3.000000  1967.000000    13.000000
75%       1.0     0.690000     7.000000     3.000000  1986.000000    44.000000
max       1.0    48.540000    18.000000     9.000000  2021.000000   596.000000
            #        Acres  Rooms Total   Beds Total   Year Built          DOM
count  4500.0  3435.000000  4500.000000  4500.000000  4500.000000  4500.000000
mean      1.0     0.652978     6.343333     2.937556  1963.393556    27.945333
std       0.0     1.958449     1.869049     0.901883    31.357726    31.691432
min       1.0     0.000000     1.000000     0.000000  1700.000000   -22.000000
25%       1.0     0.180000     5.000000     2.000000  1950.000000     4.000000
50%       1.0     0.310000     6.000000     3.000000  1967.000000    14.000000
75%       1.0     0.690000     7.000000     3.000000  1986.000000    46.000000
max       1.0    90.880000    18.000000     9.000000  2021.000000   596.000000
            #        Acres  Rooms Total   Beds Total   Year Built          DOM
count  5000.0  3817.000000  5000.000000  5000.000000  5000.000000  5000.000000
mean      1.0     0.647349     6.317600     2.929400  1963.236800    26.471400
std       0.0     1.909255     1.854027     0.901431    31.144591    30.804898
min       1.0     0.000000     1.000000     0.000000  1700.000000   -22.000000
25%       1.0     0.180000     5.000000     2.000000  1950.000000     4.000000
50%       1.0     0.310000     6.000000     3.000000  1967.000000    12.000000
75%       1.0     0.680000     7.000000     3.000000  1986.000000    43.000000
max       1.0    90.880000    18.000000     9.000000  2021.000000   596.000000

In [27]:
print(data_merged.shape)

(5000, 21)

In [28]:
print(data_merged.head())

   #       MLS# Status Status Change Timestamp Prop Type  \
0  1  170391220   CLSD                07/07/21        CP
1  1  170390981   CLSD                07/03/21        CP
2  1  170390572   CLSD                06/21/21        CP
3  1  170393098   CLSD                06/30/21        CO
4  1  170389223   CLSD                06/01/21        CO

           List/Closed Price                      Address Unnamed: 7  \
0  LP: $139,900 CP: $140,700  86 Centerbrook Rd, Unit #86
1  LP: $169,000 CP: $169,000     190 Wooster St, Unit #50
2    LP: $59,900 CP: $55,000  41 Jones Hill Rd, Unit #106
3  LP: $174,900 CP: $176,000     33 Brockton Ct, Unit #33
4  LP: $159,900 CP: $155,000     25 Florence Rd, Unit #79

           City  Acres  ... Sq Ft Est Heated Above Grade  \
0        Hamden    NaN  ...                        1,050
1     New Haven    NaN  ...                        1,100
2    West Haven    NaN  ...                          800
3  Beacon Falls    NaN  ...                        1,072
4      Branford    NaN  ...                          950

     Style or Rent Type Rooms Total  Beds Total        Bathrooms  \
0             Townhouse           5           2  1 Full & 1 Half
1  Townhouse, Row House           7           3  1 Full & 1 Half
2                 Ranch           1           0           1 Full
3             Townhouse           4           2  1 Full & 1 Half
4             Townhouse           4           1           1 Full

                                         Garage/Park Year Built  DOM  \
0                               Car/Assigned Parking       1967    6
1  1 Car/Assigned Parking, Off Street Parking, Pa...       1964    3
2         Car/Paved, Off Street Parking, Parking Lot       1967    4
3    Car/Paved, Assigned Parking, Off Street Parking       1982   19
4                           1 Car/Under House Garage       1991    3

     Listing Agent List Office
0   Dave S Candido      PRCZ30
1  Cheryl Szczarba      SEAB30
2     John F Jaser      WSRR30
3     Rick Settani      SHWC22
4     Susan Turner      RAVE56

[5 rows x 21 columns]

In [29]:
print(data_merged.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 499
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   #                             5000 non-null   int64
 1   MLS#                          5000 non-null   object
 2   Status                        5000 non-null   object
 3   Status Change Timestamp       5000 non-null   object
 4   Prop Type                     5000 non-null   object
 5   List/Closed Price             5000 non-null   object
 6   Address                       5000 non-null   object
 7   Unnamed: 7                    5000 non-null   object
 8   City                          5000 non-null   object
 9   Acres                         3817 non-null   float64
 10  Sq Ft Total                   5000 non-null   object
 11  Sq Ft Est Heated Above Grade  5000 non-null   object
 12  Style or Rent Type            5000 non-null   object
 13  Rooms Total                   5000 non-null   int64
 14  Beds Total                    5000 non-null   int64
 15  Bathrooms                     4999 non-null   object
 16  Garage/Park                   5000 non-null   object
 17  Year Built                    5000 non-null   int64
 18  DOM                           5000 non-null   int64
 19  Listing Agent                 5000 non-null   object
 20  List Office                   5000 non-null   object
dtypes: float64(1), int64(5), object(15)
memory usage: 859.4+ KB
None