In [142]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """

        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', '07', 165)
('Badminton Court', '08', 414)
('Badminton Court', '09', 507)
('Massage Room 1', '07', 166)
('Massage Room 1', '08', 316)
('Massage Room 1', '09', 402)
('Massage Room 2', '07', 8)
('Massage Room 2', '08', 18)
('Massage Room 2', '09', 28)
('Pool Table', '07', 110)
('Pool Table', '08', 303)
('Pool Table', '09', 443)
('Snooker Table', '07', 140)
('Snooker Table', '08', 316)
('Snooker Table', '09', 404)
('Squash Court', '07', 50)
('Squash Court', '08', 184)
('Squash Court', '09', 184)
('Table Tennis', '07', 98)
('Table Tennis', '08', 296)
('Table Tennis', '09', 400)
('Tennis Court 1', '07', 201)
('Tennis Court 1', '08', 339)
('Tennis Court 1', '09', 417)
('Tennis Court 2', '07', 123)
('Tennis Court 2', '08', 345)
('Tennis Court 2', '09', 414)

 PRAGMA table_info(Members)

2.6.0
2. Query all tasks
1. (0, 'memid', 'int(2)', 1, "'0'", 1)
2. (1, 'surname', 'varchar(17)', 0, 'NULL', 0)
3. (2, 'firstname', 'varchar(9)', 0, 'NULL', 0)
4. (3, 'address', 'varchar(39)', 0, 'NULL', 0)
5. (4, 'zipcode', 'int(5)', 0, 'NULL', 0)
6. (5, 'telephone', 'varchar(14)', 0, 'NULL', 0)
7. (6, 'recommendedby', 'varchar(2)', 0, 'NULL', 0)
8. (7, 'joindate', 'varchar(19)', 0, 'NULL', 0)

PRAGMA table_info(Facilities)

2.6.0
2. Query all tasks
1. (0, 'facid', 'int(1)', 1, "'0'", 1)
2. (1, 'name', 'varchar(15)', 0, 'NULL', 0)
3. (2, 'membercost', 'decimal(2,1)', 0, 'NULL', 0)
4. (3, 'guestcost', 'decimal(3,1)', 0, 'NULL', 0)
5. (4, 'initialoutlay', 'int(5)', 0, 'NULL', 0)
6. (5, 'monthlymaintenance', 'int(4)', 0, 'NULL', 0)

PRAGMA table_info(Bookings)

2.6.0
2. Query all tasks
1. (0, 'bookid', 'int(4)', 1, "'0'", 1)
2. (1, 'facid', 'int(1)', 0, 'NULL', 0)
3. (2, 'memid', 'int(2)', 0, 'NULL', 0)
4. (3, 'starttime', 'varchar(19)', 0, 'NULL', 0)
5. (4, 'slots', 'int(2)', 0, 'NULL', 0)

/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */


     
     
SELECT s.facility, sum(s.revenue)as totalrevenue 
FROM (SELECT f.name as facility, (CASE 
                    WHEN b.memid = 0 THEN f.guestcost * b.slots
                    ELSE f.membercost * b.slots 
                    END) AS revenue
            FROM  Facilities AS f
            INNER JOIN Bookings as b
            ON f.facid = b.facid) as s
GROUP BY s.facility
HAVING sum(s.revenue)<1000
ORDER BY totalrevenue DESC;

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */


SELECT m1.firstname||' '|| m1.surname as Member, 
        m2.firstname||' '|| m2.surname as Recommendation
FROM Members as m1
INNER JOIN Members as m2
ON m1.recommendedby = m2.memid  
ORDER BY m1.surname, m1.firstname


/* Q12: Find the facilities with their usage by member, but not guests */

SELECT sub.name, SUM(sub.usages) AS totalusage
FROM (SELECT f.name as name, 
        CASE WHEN memid = 0 THEN 0
            ELSE b.slots END AS usages
       FROM Facilities AS f
       INNER JOIN Bookings AS b
       ON f.facid = b.facid) AS sub
GROUP BY sub.name
ORDER BY totalusage DESC

/* Q13: Find the facilities usage by month, but not guests */

SELECT facility, Month, SUM(usages)
FROM(SELECT f.name AS facility, strftime('%m', b.starttime) as Month, 
        (CASE WHEN b.memid = 0 THEN 0
            ELSE b.slots
            END) AS usages  
        FROM Facilities AS f
        INNER JOIN Bookings AS b
        ON f.facid = b.facid
        )
GROUP BY facility, Month
ORDER BY facility,Month