# Capstone 3 Data Wrangling

In [1]:
import pandas as pd
import numpy as np

## 1) Api Requests

In [2]:
import os

import googleapiclient.discovery

api_service_name = "youtube"
api_version = "v3"
DEVELOPER_KEY = "AIzaSyCBxycIEpc93U25rDCUONBoahy6WGFCmBU"
youtube = googleapiclient.discovery.build(api_service_name,
                                          api_version, 
                                          developerKey = DEVELOPER_KEY)

### a) Channel Ids

In [3]:
channel_list = ['fox news','msnbc','cnn']
channel_info = []

for network in channel_list:
    
    channel_name = network
    
    request = youtube.search().list(
        part="snippet",
        q=channel_name,
        topicId="channel")
    response = request.execute()
    
    channel_title = response['items'][0]['snippet']['channelTitle']
    channel_id = response['items'][0]['snippet']['channelId']
    
    channel_info.append([channel_title, channel_id])
    
    
channel_info_DF = pd.DataFrame(channel_info, columns =['channel_title', 'channel_id'])
print(channel_info_DF)

  channel_title                channel_id
0      Fox News  UCXIJgqnII2ZOINSWNOGFThA
1         MSNBC  UCaXkIU1QidjPwiAYu6GcHjg
2           CNN  UCupvZG-5ko_eiXAupbDfxWw

### b) Query for Covid Videos by Channel

In [7]:
video_info_list =[]

search_term = "covid"

for channel_id in channel_info_DF['channel_id']:
    
    request = youtube.search().list(
        part="snippet",
        channelId= channel_id,
        maxResults=50,
        q= search_term
    )
    response = request.execute()
    for video in response['items']:
        
        video_id = video['id']['videoId']
        video_title = video['snippet']['title']
        channel_id = video['snippet']['channelId']
        channel_title = video['snippet']['channelTitle']
                      
        video_info_list.append([video_id, video_title, channel_id, channel_title])

video_info_df = pd.DataFrame(video_info_list, columns = ['video_id', 'video_title', 'channel_id', 'channel_title'])
print(video_info_df)

        video_id                                        video_title  \
0    UG1GXi3gXbg  Biden warned of border &#39;chaos&#39; if COVI...
1    Brn-2vInXrc                 Jen Psaki tests positive for COVID
2    j1kkMKkDuIg  Countries begin dropping COVID restrictions as...
3    GUsKypt4vs0  New Jersey governor on potential COVID-19 lock...
4    tDFQSCTng_4  COVID origin response has been detrimental to ...
..           ...                                                ...
145  xBf9j2QRQBI  National Covid-19 cases and hospitalizations t...
146  f0_RhfT21bw  Ex-CDC boss believes Covid-19 virus came from ...
147  -Sp1aAlYUcY  NYC to mandate Covid-19 vaccines for all priva...
148  hCUpzkEICOg  9-year-old shares her plans after receiving Co...
149  UfYxiKXWSXY  &#39;I&#39;m done with Covid!&#39;: Journalist...

                   channel_id channel_title
0    UCXIJgqnII2ZOINSWNOGFThA      Fox News
1    UCXIJgqnII2ZOINSWNOGFThA      Fox News
2    UCXIJgqnII2ZOINSWNOGFThA      Fox News
3    UCXIJgqnII2ZOINSWNOGFThA      Fox News
4    UCXIJgqnII2ZOINSWNOGFThA      Fox News
..                        ...           ...
145  UCupvZG-5ko_eiXAupbDfxWw           CNN
146  UCupvZG-5ko_eiXAupbDfxWw           CNN
147  UCupvZG-5ko_eiXAupbDfxWw           CNN
148  UCupvZG-5ko_eiXAupbDfxWw           CNN
149  UCupvZG-5ko_eiXAupbDfxWw           CNN

[150 rows x 4 columns]

### c) Querying Video Statistics

In [8]:
video_stat_list = []

for video in  video_info_df['video_id']: 
    
    request = youtube.videos().list(
            part="statistics, snippet",
            id=video)

    response = request.execute()
    response_dict = response['items'][0]
    
    video_id = response_dict['id']
    video_views = response_dict['statistics']['viewCount']
    video_likes = response_dict['statistics']['likeCount']
    video_favorites= response_dict['statistics']['favoriteCount']
    
    try:
        video_comment_count= response_dict['statistics']['commentCount']
    except(KeyError):
        video_comment_count = 0
        
        
    video_stat_list.append([video_id, 
                            video_views, 
                            video_likes,
                            video_favorites,
                            video_comment_count])

video_stat_df = pd.DataFrame(video_stat_list, 
                             columns = ['video_id', 
                             'video_views', 
                             'video_likes',
                             'video_favorites',
                             'video_comment_count'])

print(video_stat_df)

        video_id video_views video_likes video_favorites video_comment_count
0    UG1GXi3gXbg       47095        1256               0                 774
1    Brn-2vInXrc      188034        3069               0                3282
2    j1kkMKkDuIg      816214       24085               0                3609
3    GUsKypt4vs0      121936        2395               0                2001
4    tDFQSCTng_4      400948       10838               0                3630
..           ...         ...         ...             ...                 ...
145  xBf9j2QRQBI       67441         950               0                1435
146  f0_RhfT21bw      459039        5445               0                6615
147  -Sp1aAlYUcY      739952        2893               0               14168
148  hCUpzkEICOg      452829        3207               0               12457
149  UfYxiKXWSXY      196440        3088               0                6374

[150 rows x 5 columns]

### a) Querying Video Comments

In [9]:
from urllib.error import HTTPError

video_comment_list = []

for video in  video_info_df['video_id']: 
       
    request = youtube.commentThreads().list(
        part = "id, snippet",
        maxResults = 100,
        order = "relevance",
        videoId = video)
    
    try:
        response = request.execute()  
        response_dict = response['items']
    
        for comment in response_dict:
        
            comment_dict = comment['snippet']['topLevelComment']['snippet']
        
            video_id = comment_dict['videoId']
            comment_text = comment_dict['textOriginal']
            comment_likes = comment_dict['likeCount']
        
            video_comment_list.append([video_id, comment_text, comment_likes])
            
    except:
        video_id = video
        comment_text = None
        comment_likes = None
        video_comment_list.append([video_id, comment_text, comment_likes])
        
video_comment_df = pd.DataFrame(video_comment_list, columns =['video_id', 
                                                              'comment_text',
                                                              'comment_likes'])

print(video_comment_df)

          video_id                                       comment_text  \
0      UG1GXi3gXbg  Not because of  COVID RULE  it's because of  B...
1      UG1GXi3gXbg  They don't have to expect a surge. It's been g...
2      UG1GXi3gXbg  Joe has always been below average throughout h...
3      UG1GXi3gXbg  Donald Trump should pull a Will Smith and smac...
4      UG1GXi3gXbg  Protect America’s “Southern Border” the way yo...
...            ...                                                ...
14327  UfYxiKXWSXY                           She is totally RIGHT!!!!
14328  UfYxiKXWSXY  With a deadly virus such as COVID doesn't matt...
14329  UfYxiKXWSXY  Oh man....I just saw myself in her.... same gu...
14330  UfYxiKXWSXY                             It's a pandemic, lady.
14331  UfYxiKXWSXY  How is more vaccinated people going to end thi...

       comment_likes
0              164.0
1               63.0
2              166.0
3              140.0
4              281.0
...              ...
14327            0.0
14328            0.0
14329            0.0
14330            1.0
14331            0.0

[14332 rows x 3 columns]

## 2) Merges and Cleaning

### a) Merges

In [87]:
video_stat_info_df = video_info_df.merge(video_stat_df, how = 'inner', on = 'video_id' )

final_df = video_comment_df.merge(video_stat_info_df, how = 'inner', on='video_id') 

print('Our raw data set has {} features:'.format(len(final_df.columns)))
print(*final_df.columns, sep = '\n')

Our raw data set has 10 features:
video_id
comment_text
comment_likes
video_title
channel_id
channel_title
video_views
video_likes
video_favorites
video_comment_count

### b) Cleaning

#### i) Remove Null Values

In [88]:
print(final_df.isnull().sum())

video_id               0
comment_text           3
comment_likes          3
video_title            0
channel_id             0
channel_title          0
video_views            0
video_likes            0
video_favorites        0
video_comment_count    0
dtype: int64

In [89]:
final_df.dropna(inplace = True)
print(final_df.isnull().sum())

video_id               0
comment_text           0
comment_likes          0
video_title            0
channel_id             0
channel_title          0
video_views            0
video_likes            0
video_favorites        0
video_comment_count    0
dtype: int64

#### ii) Adjust DataTypes

In [90]:
print(final_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14329 entries, 0 to 14331
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   video_id             14329 non-null  object
 1   comment_text         14329 non-null  object
 2   comment_likes        14329 non-null  float64
 3   video_title          14329 non-null  object
 4   channel_id           14329 non-null  object
 5   channel_title        14329 non-null  object
 6   video_views          14329 non-null  object
 7   video_likes          14329 non-null  object
 8   video_favorites      14329 non-null  object
 9   video_comment_count  14329 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB
None

* Comment Likes, Video Views, Video Likes, Video Favorites, Video Comment Count have to be converted into integers

In [91]:
def df_to_numeric(df, cols):
    for col in cols:
        df[col] = pd.to_numeric(df[col])

In [92]:
col_list = ['comment_likes', 
            'video_views',
            'video_likes',
            'video_favorites',
            'video_comment_count']

In [93]:
df_to_numeric(final_df, col_list)

In [94]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14329 entries, 0 to 14331
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   video_id             14329 non-null  object
 1   comment_text         14329 non-null  object
 2   comment_likes        14329 non-null  float64
 3   video_title          14329 non-null  object
 4   channel_id           14329 non-null  object
 5   channel_title        14329 non-null  object
 6   video_views          14329 non-null  int64
 7   video_likes          14329 non-null  int64
 8   video_favorites      14329 non-null  int64
 9   video_comment_count  14329 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 1.2+ MB

In [95]:
final_df.describe().apply(lambda s: s.apply('{0:.2f}'.format))

,comment_likes,video_views,video_likes,video_favorites,video_comment_count
count,14329.00,14329.00,14329.00,14329.00,14329.00
mean,59.19,379225.38,5903.83,0.00,4296.36
std,293.65,535900.76,8825.21,0.00,5685.72
min,0.00,8923.00,153.00,0.00,192.00
25%,0.00,65428.00,915.00,0.00,900.00
50%,3.00,172970.00,2250.00,0.00,2344.00
75%,23.00,528265.00,6378.00,0.00,5495.00
max,12093.00,3527470.00,51100.00,0.00,40155.00

The Video Favorites feature will be dropped because it has no variability.  Additionally Channel ID will be removed as it was only needed for API requests and merging. 
Both the original dataframe and the dataframe with dropped columns will be written to CSVs

In [96]:
final_df.to_csv('RawYoutubeComments.csv', index = False)    ### preserving original dataset with only Nulls Removed

In [97]:
final_df.drop(['video_favorites', 'channel_id'], axis =1, inplace = True)

In [98]:
print(final_df.describe())

       comment_likes   video_views   video_likes  video_comment_count
count   14329.000000  1.432900e+04  14329.000000         14329.000000
mean       59.187382  3.792254e+05   5903.832717          4296.362063
std       293.649171  5.359008e+05   8825.212827          5685.716134
min         0.000000  8.923000e+03    153.000000           192.000000
25%         0.000000  6.542800e+04    915.000000           900.000000
50%         3.000000  1.729700e+05   2250.000000          2344.000000
75%        23.000000  5.282650e+05   6378.000000          5495.000000
max     12093.000000  3.527470e+06  51100.000000         40155.000000

In [99]:
print(final_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14329 entries, 0 to 14331
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   video_id             14329 non-null  object
 1   comment_text         14329 non-null  object
 2   comment_likes        14329 non-null  float64
 3   video_title          14329 non-null  object
 4   channel_title        14329 non-null  object
 5   video_views          14329 non-null  int64
 6   video_likes          14329 non-null  int64
 7   video_comment_count  14329 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 1007.5+ KB
None

In [100]:
final_df.sample(5, random_state = 343)

,video_id,comment_text,comment_likes,video_title,channel_title,video_views,video_likes,video_comment_count
10748,ja48GqBAWH8,I'm so happy Jerry is doing well!!,26.0,Hear doctor&#39;s grim prognosis for unvaccina...,CNN,304768,5403,3806
8610,oGmkepc6ITc,Lies,0.0,Covid Has Killed More Americans Than The 1918 ...,MSNBC,52041,685,916
6121,ro3RY8PcJU4,"Pi, Rho, Sigma variants will be interesting",0.0,U.S. Sets Fresh Record For Daily Covid Cases,MSNBC,16073,281,320
9128,lH4GyWzBNGw,He needs to be charged by the DOJ for any just...,557.0,Explosive Report: Trump Admin &#39;Criminally ...,MSNBC,699554,14399,5495
2457,YnSPqHK5POY,Because Midterms.... Well said Trey.,19.0,Trey Gowdy: COVID politics have trumped science,Fox News,128528,4106,834

In [101]:
final_df.to_csv('Cap3_DataWrangling.csv', index =False)